
<div class="row-fluid">
	<div class="span12">
		<%= link_to image_tag("kidstack100x100.png", :alt =>"kidstack logo", :class => "topnav"), root_path %>
	</div>
</div>
		
<div class="row-fluid">
	<div class="span7">
		<%= image_tag("pics/introvideo.png", :alt => "intro video") %>			
	</div>
			
	<div class="span5">
		<div class="row-fluid">
			<div class="span6">
				<%= image_tag("navgraphics/engineering_process.png", :alt => "engineering process graphic") %>
			</div> 

			<div class="span6">
				<%= image_tag("navgraphics/materials.png", :alt => "materials graphic") %>
			</div> 
		</div>
											
		<div class="row-fluid">
	    	<div class="span6">
				<%= link_to image_tag("navgraphics/structures.png", :alt =>"structures graphic", :class => "navgraph"), "#" %>
			</div>
				
			<div class="span6">
				<%= image_tag("navgraphics/machines.png", :alt => "machines graphic", :class => "navgraph") %>
			</div> <!--span4-->
		</div>
					
		<div class="row-fluid">
			<div class="span6">
				<%= image_tag("navgraphics/energy.png", :alt => "energy graphic", :class => "navgraph") %>
			</div> <!--span4-->
					
			<div class="span6">
				<%= image_tag("navgraphics/computing.png", :alt => "computing graphic", :class => "navgraph") %>
			</div> <!--span4-->
		</div>		
	</div>
</div>
