<div class="characters_title">
 What do I get by subscribing to the 2025 Kids site?
</div>

<div class="row-fluid", style= "padding-top:10px; padding-bottom:10px; "> 
</div>

  <div class ="row-fluid" style="padding-bottom:20px; border-bottom: 1px solid #d9d9d9;">
   <div class="span8">

 Subscribing gets you access to all of the great, continually expanded content on the site. Subscription-only content includes projects and activities, "Engineering in the News" articles, the online magazine (available soon), and games. Wouldn't it be great if your child was continually up-to-date on facinating news related to the world or engineering - and have new projects and activities to do regularly?</br>

 We are a young company and are offering subscription access for FREE for a trial period.  Just create an account below, and you can access all this content for free through December 31, 2015.  Try it out, and feel free to send any comments, suggestions, or requests to info@2025labs.com .
</br></br>
</div>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
  <%= f.submit "Sign up" %> 
  </div>
<% end %>

<%= render "devise/shared/links" %>
