<div class="<%= @catagory.color%>_mainbkgd">

	<a class="catagoryandtopic" <%= link_to @catagory.headergraphic, catagory_path(@catagory.name) %></a> <span class= "catagoryandtopic" ><%= yield :location %></span>
	<%= link_to image_tag("navgraphics/news_icon.png", :class=>'navbuttons'), news_path  %> </span>
	<%= link_to image_tag("navgraphics/project_icon.png", :class=>'navbuttons'), projects_path  %> </span>
	<% unless @catagory.questions.first.nil? %>
		<%= link_to image_tag("navgraphics/quiz_icon.png", :class=>'navbuttons'), quiz_catagory_path(:catagory_id => @catagory.id)  %> </span>
	<% end %>
</div>