<% num_slides = @catagory.slides.count %>
	
	<div class="row-fluid">
		<div class="span8">
			<%=image_tag(@slide.image)%></br>
			
		</div>
		<div class="span4">
			<span class="title"><%= @slide.title %></br></span>
			<span class="desc"><%= @slide.desc %></br></span>
			<%= audio_tag(@slide.audio, autoplay: true) %>
			
			
			<% unless @slide.catprev.nil? %>
				<% prevslide = @slide.catprev %>
				<%= link_to image_tag("leftarrow.png", :alt => "arrow pointing left"), catslide_catagory_path(:catagory_id => @catagory.id, :id => prevslide.id),  :remote => true %>
			<% end%>
			
			<% unless @slide.catnext.nil? %>
				<% nextslide = @slide.catnext %>
				<%= link_to image_tag("arrow.png", :alt => "arrow pointing right"), catslide_catagory_path(:catagory_id => @catagory.id, :id => nextslide.id),  :remote => true %>
			<% end%>
			
			
		</div>
	</div>
