<div class = "slidearea">
	
<div class="row-fluid">
	<div class="span7">
		<%=image_tag(@slide.image)%></br>
	</div>
	<div class="span5">
		<span class="title"><span class= "<%= @catagory.color %>" ><%= @slide.title %></br></span></span>
		</br>
		<span class="desc"><%= @slide.desc.html_safe %></br></span>		
	</div>
</div>
	
<div class="row-fluid">
	<div class="span7">
		</br>
		<%= audio_tag(@slide.audio, :controls=>true, :id=>"audio1") %>
	
		
		<script>
		
		$('#audio1').bind('ended', function() {
		   $( "#nextlink" ).click();
		});

		</script>
	</div>
	<div class="span5">
		<% unless @slide.catprev.nil? %>
			<% prevslide = @slide.catprev %>
			<%= link_to image_tag("controls/previous.png"), catslide_catagory_path(:catagory_id => @catagory.id, :id => prevslide.id),  :remote => true %>
		<% end%>
		
		<% unless @slide.catnext.nil? %>
			<% nextslide = @slide.catnext %>
			<%= link_to image_tag("controls/next.png"), catslide_catagory_path(:catagory_id => @catagory.id, :id => nextslide.id),  :remote => true, :id=>"nextlink"%>
		<% end%>
	</div>
</div>

</div>