<div class="row-fluid">	
	<div class="span1">
		<h1><div class="num_bkgd"><span class="question_num"><%= @question.question_num %></span></div><h1>
	</div>

	<div class="span11">
		<div class="row-fluid">

			<div class="span6">
				 <h4><div class="<%= @catagory.color %>_bkgd"><span class="question_txt"><%= @question.question_content %> </span></div></h4>
				 <%#= render 'answer_list' %>
				 <div id="show_answers">
					 <%=  render( :partial => "catagories/answer", :locals => { :question => @question, :answer => @answer} ) %>
				 </div>

			</div>

			<div class="span6">
				 <%= image_tag(@question.question_image) %>
			</div>

		</div>
	</div>
</div>
