<% provide(:location, ' > game') %>

<%#= render 'cat_banner' %>

<div class = "slidearea">
	<div class="row-fluid">	
	


		<canvas id="canvas" width=1000 height=600 style="border: solid black;"></canvas>
		<p hidden>
			<%= image_tag("game_art/empty_pillar.png", id: "empty_pillar_img") %>
			<%= image_tag("game_art/outline_pillar_1.png", id: "outline_pillar_1_img") %>
			<%= image_tag("game_art/outline_pillar_2.png", id: "outline_pillar_2_img") %>


			<%= image_tag("game_art/marshMellow_pillar.png", id: "marshMellow_pillar_img") %>
			<%= image_tag("game_art/marshMellow_pillar_item.png", id: "marshMellow_pillar_item_img") %>

			<%= image_tag("game_art/rubber_pillar.png", id: "rubber_pillar_img") %>
			<%= image_tag("game_art/rubber_pillar_item.png", id: "rubber_pillar_item_img") %>

			<%= image_tag("game_art/plastic_pillar.png", id: "plastic_pillar_img") %>
			<%= image_tag("game_art/plastic_pillar_item.png", id: "plastic_pillar_item_img") %>

			<%= image_tag("game_art/wood_pillar.png", id: "wood_pillar_img") %>
			<%= image_tag("game_art/wood_pillar_item.png", id: "wood_pillar_item_img") %>

			<%= image_tag("game_art/rock_pillar.png", id: "rock_pillar_img") %>
			<%= image_tag("game_art/rock_pillar_item.png", id: "rock_pillar_item_img") %>

			<%= image_tag("game_art/iron_pillar.png", id: "iron_pillar_img") %>
			<%= image_tag("game_art/iron_pillar_item.png", id: "iron_pillar_item_img") %>

			<%= image_tag("game_art/steel_pillar.png", id: "steel_pillar_img") %>
			<%= image_tag("game_art/steel_pillar_item.png", id: "steel_pillar_item_img") %>

			<%= image_tag("game_art/gold_pillar.png", id: "gold_pillar_img") %>
			<%= image_tag("game_art/gold_pillar_item.png", id: "gold_pillar_item_img") %>

			<%= image_tag("game_art/platinum_pillar.png", id: "platinum_pillar_img") %>
			<%= image_tag("game_art/platinum_pillar_item.png", id: "platinum_pillar_item_img") %>

			<%= image_tag("game_art/nanomesh_pillar.png", id: "nanomesh_pillar_img") %>
			<%= image_tag("game_art/nanomesh_pillar_item.png", id: "nanomesh_pillar_item_img") %>




			<%= image_tag("game_art/empty_bridge.png", id: "empty_bridge_img") %>

			<%= image_tag("game_art/marshmallow_bridge.png", id: "marshMallow_bridge_img") %>
			<%= image_tag("game_art/marshmallow_bridge_item.png", id: "marshMallow_bridge_item_img") %>

			<%= image_tag("game_art/rubber_bridge.png", id: "rubber_bridge_img") %>
			<%= image_tag("game_art/rubber_bridge_item.png", id: "rubber_bridge_item_img") %>

			<%= image_tag("game_art/plastic_bridge.png", id: "plastic_bridge_img") %>
			<%= image_tag("game_art/plastic_bridge_item.png", id: "plastic_bridge_item_img") %>

			<%= image_tag("game_art/wood_bridge.png", id: "wood_bridge_img") %>
			<%= image_tag("game_art/wood_bridge_item.png", id: "wood_bridge_item_img") %>

			<%= image_tag("game_art/rock_bridge.png", id: "rock_bridge_img") %>
			<%= image_tag("game_art/rock_bridge_item.png", id: "rock_bridge_item_img") %>

			<%= image_tag("game_art/iron_bridge.png", id: "iron_bridge_img") %>
			<%= image_tag("game_art/iron_bridge_item.png", id: "iron_bridge_item_img") %>

			<%= image_tag("game_art/steel_bridge.png", id: "steel_bridge_img") %>
			<%= image_tag("game_art/steel_bridge_item.png", id: "steel_bridge_item_img") %>

			<%= image_tag("game_art/gold_bridge.png", id: "gold_bridge_img") %>
			<%= image_tag("game_art/gold_bridge_item.png", id: "gold_bridge_item_img") %>

			<%= image_tag("game_art/platinum_bridge.png", id: "platinum_bridge_img") %>
			<%= image_tag("game_art/platinum_bridge_item.png", id: "platinum_bridge_item_img") %>

			<%= image_tag("game_art/nanomesh_bridge.png", id: "nanomesh_bridge_img") %>
			<%= image_tag("game_art/nanomesh_bridge_item.png", id: "nanomesh_bridge_item_img") %>
			




			<%= image_tag("game_art/menu_end.png", id: "menu_end_img") %>
			<%= image_tag("game_art/menu_end2.png", id: "menu_end2_img") %>
			<%= image_tag("game_art/menu_title.png", id: "menu_title_img") %>
			<%= image_tag("game_art/menu_pillar.png", id: "menu_pillar_img") %>
			<%= image_tag("game_art/menu_bridge.png", id: "menu_bridge_img") %>
			<%= image_tag("game_art/menu_label.png", id: "menu_label_img") %>

			<%= image_tag("game_art/background.png", id: "background_img") %>
			<%= image_tag("game_art/background2.png", id: "background2_img") %>
			<%= image_tag("game_art/success.png", id: "success_img") %>
			<%= image_tag("game_art/fail.png", id: "fail_img") %>
			<%= image_tag("game_art/victory.png", id: "victory_img") %>
			<%= image_tag("game_art/pause.png", id: "pause_img") %>
			<%= image_tag("game_art/cant_buy.png", id: "cant_buy_img") %>
			<%= image_tag("game_art/title.png", id: "title_img") %>
			<%= image_tag("game_art/replace_error.png", id: "replace_error_img") %>
			<%= image_tag("game_art/click_screen.png", id: "click_screen_img") %>
			<%= image_tag("game_art/click_screen_2.png", id: "click_screen_2_img") %>
			<%= image_tag("game_art/click_replay.png", id: "click_replay_img") %>
			<%= image_tag("game_art/replay.png", id: "replay_img") %>

			<%= image_tag("game_art/go_button.png", id: "go_button_img") %>
			<%= image_tag("game_art/pause_button.png", id: "pause_button_img") %>
			<%= image_tag("game_art/tips_button.png", id: "tips_button_img") %>

			<%= image_tag("game_art/tutorial_note_1.png", id: "tutorial_note_1_img") %>
			<%= image_tag("game_art/tutorial_note_2.png", id: "tutorial_note_2_img") %>
			<%= image_tag("game_art/tutorial_note_3.png", id: "tutorial_note_3_img") %>
			<%= image_tag("game_art/tutorial_note_4.png", id: "tutorial_note_4_img") %>
			<%= image_tag("game_art/tutorial_note_5.png", id: "tutorial_note_5_img") %>
			<%= image_tag("game_art/tutorial_note_6.png", id: "tutorial_note_6_img") %>
			<%= image_tag("game_art/tutorial_note_7.png", id: "tutorial_note_7_img") %>
			<%= image_tag("game_art/tutorial_note_8.png", id: "tutorial_note_8_img") %>
			<%= image_tag("game_art/tutorial_note_9.png", id: "tutorial_note_9_img") %>
			<%= image_tag("game_art/tutorial_note_10.png", id: "tutorial_note_10_img") %>
			<%= image_tag("game_art/tutorial_note_11.png", id: "tutorial_note_11_img") %>
			<%= image_tag("game_art/tutorial_note_12.png", id: "tutorial_note_12_img") %>
			<%= image_tag("game_art/tutorial_note_13.png", id: "tutorial_note_13_img") %>
			<%= image_tag("game_art/tutorial_note_14.png", id: "tutorial_note_14_img") %>
			<%= image_tag("game_art/tutorial_note_15.png", id: "tutorial_note_15_img") %>
			<%= image_tag("game_art/tutorial_note_16.png", id: "tutorial_note_16_img") %>
			<%= image_tag("game_art/tutorial_note_17.png", id: "tutorial_note_17_img") %>
			<%= image_tag("game_art/tutorial_note_18.png", id: "tutorial_note_18_img") %>
			<%= image_tag("game_art/tutorial_note_19.png", id: "tutorial_note_19_img") %>
			<%= image_tag("game_art/tutorial_note_20.png", id: "tutorial_note_20_img") %>
			<%= image_tag("game_art/tutorial_note_21.png", id: "tutorial_note_21_img") %>
			<%= image_tag("game_art/tutorial_note_22.png", id: "tutorial_note_22_img") %>
			<%= image_tag("game_art/tutorial_note_23.png", id: "tutorial_note_23_img") %>
			<%= image_tag("game_art/tutorial_note_24.png", id: "tutorial_note_24_img") %>
			<%= image_tag("game_art/tutorial_note_25.png", id: "tutorial_note_25_img") %>

			<%= image_tag("game_art/instructions.png", id: "instructions_img") %>

			<%= image_tag("game_art/hint_1.png", id: "hint_1_img") %>
			<%= image_tag("game_art/hint_2.png", id: "hint_2_img") %>
			<%= image_tag("game_art/hint_3.png", id: "hint_3_img") %>
			<%= image_tag("game_art/hint_4.png", id: "hint_4_img") %>
			<%= image_tag("game_art/hint_5.png", id: "hint_5_img") %>


			<%= image_tag("game_art/arrow_up.png", id: "arrow_up_img") %>
			<%= image_tag("game_art/arrow_right.png", id: "arrow_right_img") %>
			<%= image_tag("game_art/arrow_left.png", id: "arrow_left_img") %>
			<%= image_tag("game_art/arrow_down.png", id: "arrow_down_img") %>
			<%= image_tag("game_art/drag_arrow_1.png", id: "drag_arrow_1_img") %>
			<%= image_tag("game_art/drag_arrow_2.png", id: "drag_arrow_2_img") %>


			<%= image_tag("game_art/butterfly.png", id:"butterfly_img") %>
			<%= image_tag("game_art/elephant.png", id:"elephant_img") %>
			<%= image_tag("game_art/rabbit.png", id:"rabbit_img") %>
			<%= image_tag("game_art/chicken.png", id:"chicken_img") %>
			<%= image_tag("game_art/dog.png", id:"dog_img") %>
			<%= image_tag("game_art/horse.png", id:"horse_img") %>
			<%= image_tag("game_art/cow.png", id:"cow_img") %>

			<%= image_tag("game_art/small_car.png", id:"small_car_img") %>
			<%= image_tag("game_art/small_car2.png", id:"small_car2_img") %>
			<%= image_tag("game_art/medium_car.png", id:"medium_car_img") %>
			<%= image_tag("game_art/medium_car2.png", id:"medium_car2_img") %>
			<%= image_tag("game_art/large_car.png", id:"large_car_img") %>
			<%= image_tag("game_art/large_car2.png", id:"large_car2_img") %>

			<%= image_tag("game_art/truck1.png", id:"truck1_img") %>
			<%= image_tag("game_art/truck2.png", id:"truck2_img") %>
			<%= image_tag("game_art/truck3.png", id:"truck3_img") %>
			<%= image_tag("game_art/truck4.png", id:"truck4_img") %>
			<%= image_tag("game_art/truck5.png", id:"truck5_img") %>




			<%= audio_tag("game_audio/car_sound.wav", id: "car_sound") %>
			<%= audio_tag("game_audio/menu_open_sound.wav", id: "menu_open_sound") %>
			<%= audio_tag("game_audio/menu_close_sound.wav", id: "menu_close_sound") %>
			<%= audio_tag("game_audio/money_add_sound.wav", id: "money_add_sound") %>
			<%= audio_tag("game_audio/money_subtract_sound.wav", id: "money_subtract_sound") %>
			<%= audio_tag("game_audio/place_sound.wav", id: "place_sound") %>
			<%= audio_tag("game_audio/animal_sound.wav", id: "animal_sound") %>
			<%= audio_tag("game_audio/fall_sound.wav", id: "fall_sound") %>
			<%= audio_tag("game_audio/error_sound.wav", id: "error_sound") %>
			<%= audio_tag("game_audio/success_sound.wav", id: "success_sound") %>
			<%= audio_tag("game_audio/button_sound.wav", id: "button_sound") %>


			<%= audio_tag("game_audio/tutorial_sound.wav", id: "tutorial_sound") %>
			<%= audio_tag("game_audio/play_sound.wav", id: "play_sound") %>
			<%= audio_tag("game_audio/victory_sound.wav", id: "victory_sound") %>












			<%= image_tag("game_art/desktop_channel.png", id: "desktop_channel_img") %>
			<%= image_tag("game_art/laptop_channel.png", id: "laptop_channel_img") %>
			<%= image_tag("game_art/tablet_channel.png", id: "tablet_channel_img") %>
			<%= image_tag("game_art/phone_channel.png", id: "phone_channel_img") %>
			<%= image_tag("game_art/comp_game_background.png", id: "comp_game_background_img") %>
			<%= image_tag("game_art/build_background.png", id: "build_background_img") %>
			<%= image_tag("game_art/comp_game_background_moving.png", id: "comp_game_background_moving_img") %>
			<%= image_tag("game_art/comp_menu_box.png", id: "comp_menu_box_img") %>




			<%= image_tag("game_art/desktop_chassi.png", id: "desktop_chassi_img") %>
			<%= image_tag("game_art/laptop_chassi.png", id: "laptop_chassi_img") %>
			<%= image_tag("game_art/tablet_chassi.png", id: "tablet_chassi_img") %>
			<%= image_tag("game_art/phone_chassi.png", id: "phone_chassi_img") %>

			<%= image_tag("game_art/cpu_button.png", id: "cpu_button_img") %>
			<%= image_tag("game_art/battery_button.png", id: "battery_button_img") %>
			<%= image_tag("game_art/memory_button.png", id: "memory_button_img") %>
			<%= image_tag("game_art/clock_button.png", id: "clock_button_img") %>
			<%= image_tag("game_art/input_button.png", id: "input_button_img") %>
			<%= image_tag("game_art/output_button.png", id: "output_button_img") %>

			<%= image_tag("game_art/cpu_lv1_item.png", id: "cpu_lv1_item_img") %>
			<%= image_tag("game_art/cpu_lv1.png", id: "cpu_lv1_img") %>

			<%= image_tag("game_art/cpu_lv2.png", id: "cpu_lv2_img") %>
			<%= image_tag("game_art/cpu_lv2_item.png", id: "cpu_lv2_item_img") %>

			<%= image_tag("game_art/cpu_lv3.png", id: "cpu_lv3_img") %>
			<%= image_tag("game_art/cpu_lv3_item.png", id: "cpu_lv3_item_img") %>
			

			<%= image_tag("game_art/memory_lv1_item.png", id: "memory_lv1_item_img") %>
			<%= image_tag("game_art/memory_lv1.png", id: "memory_lv1_img") %>

			<%= image_tag("game_art/memory_lv2_item.png", id: "memory_lv2_item_img") %>
			<%= image_tag("game_art/memory_lv2.png", id: "memory_lv2_img") %>

			<%= image_tag("game_art/memory_lv3_item.png", id: "memory_lv3_item_img") %>
			<%= image_tag("game_art/memory_lv3.png", id: "memory_lv3_img") %>

			<%= image_tag("game_art/battery_lv1_item.png", id: "battery_lv1_item_img") %>
			<%= image_tag("game_art/battery_lv1.png", id: "battery_lv1_img") %>

			<%= image_tag("game_art/battery_lv2_item.png", id: "battery_lv2_item_img") %>
			<%= image_tag("game_art/battery_lv2.png", id: "battery_lv2_img") %>

			<%= image_tag("game_art/battery_lv3_item.png", id: "battery_lv3_item_img") %>
			<%= image_tag("game_art/battery_lv3.png", id: "battery_lv3_img") %>

			<%= image_tag("game_art/clock_lv1_item.png", id: "clock_lv1_item_img") %>
			<%= image_tag("game_art/clock_lv1.png", id: "clock_lv1_img") %>

			<%= image_tag("game_art/clock_lv2_item.png", id: "clock_lv2_item_img") %>
			<%= image_tag("game_art/clock_lv2.png", id: "clock_lv2_img") %>

			<%= image_tag("game_art/clock_lv3_item.png", id: "clock_lv3_item_img") %>
			<%= image_tag("game_art/clock_lv3.png", id: "clock_lv3_img") %>

			<%= image_tag("game_art/output_lv1_item.png", id: "output_lv1_item_img") %>
			<%= image_tag("game_art/output_lv1.png", id: "output_lv1_img") %>

			<%= image_tag("game_art/output_lv2_item.png", id: "output_lv2_item_img") %>
			<%= image_tag("game_art/output_lv2.png", id: "output_lv2_img") %>

			<%= image_tag("game_art/output_lv3_item.png", id: "output_lv3_item_img") %>
			<%= image_tag("game_art/output_lv3.png", id: "output_lv3_img") %>


			<%= image_tag("game_art/input_lv1_item.png", id: "input_lv1_item_img") %>
			<%= image_tag("game_art/input_lv1.png", id: "input_lv1_img") %>

			<%= image_tag("game_art/input_lv2_item.png", id: "input_lv2_item_img") %>
			<%= image_tag("game_art/input_lv2.png", id: "input_lv2_img") %>

			<%= image_tag("game_art/input_lv3_item.png", id: "input_lv3_item_img") %>
			<%= image_tag("game_art/input_lv3.png", id: "input_lv3_img") %>


			




			<%= image_tag("game_art/aesthetic_border.png", id: "aesthetic_border_img") %>
			<%= image_tag("game_art/aesthetic_back.png", id: "aesthetic_back_img") %>

			<%= image_tag("game_art/desktop_aesthetic.png", id: "desktop_aesthetic_img") %>

			<%= image_tag("game_art/desktop_screen_aesthetic.png", id: "desktop_screen_aesthetic_img") %>
			<%= image_tag("game_art/desktop_audio_aesthetic.png", id: "desktop_audio_aesthetic_img") %>
			<%= image_tag("game_art/desktop_wifi_aesthetic.png", id: "desktop_wifi_aesthetic_img") %>

			<%= image_tag("game_art/desktop_keyboard_aesthetic.png", id: "desktop_keyboard_aesthetic_img") %>
			<%= image_tag("game_art/desktop_mouse_aesthetic.png", id: "desktop_mouse_aesthetic_img") %>
			<%= image_tag("game_art/desktop_camera_aesthetic.png", id: "desktop_camera_aesthetic_img") %>

			<%= image_tag("game_art/phone_aesthetic.png", id: "phone_aesthetic_img") %>

			<%= image_tag("game_art/phone_screen_aesthetic.png", id: "phone_screen_aesthetic_img") %>
			<%= image_tag("game_art/phone_audio_aesthetic.png", id: "phone_audio_aesthetic_img") %>
			<%= image_tag("game_art/phone_wifi_aesthetic.png", id: "phone_wifi_aesthetic_img") %>

			<%= image_tag("game_art/phone_pen_aesthetic.png", id: "phone_pen_aesthetic_img") %>
			<%= image_tag("game_art/phone_camera_aesthetic.png", id: "phone_camera_aesthetic_img") %>
			<%= image_tag("game_art/phone_touchscreen_aesthetic.png", id: "phone_touchscreen_aesthetic_img") %>

			<%= image_tag("game_art/tablet_aesthetic.png", id: "tablet_aesthetic_img") %>

			<%= image_tag("game_art/tablet_screen_aesthetic.png", id: "tablet_screen_aesthetic_img") %>
			<%= image_tag("game_art/tablet_audio_aesthetic.png", id: "tablet_audio_aesthetic_img") %>
			<%= image_tag("game_art/tablet_wifi_aesthetic.png", id: "tablet_wifi_aesthetic_img") %>

			<%= image_tag("game_art/tablet_pen_aesthetic.png", id: "tablet_pen_aesthetic_img") %>
			<%= image_tag("game_art/tablet_camera_aesthetic.png", id: "tablet_camera_aesthetic_img") %>
			<%= image_tag("game_art/tablet_mic_aesthetic.png", id: "tablet_mic_aesthetic_img") %>
			<%= image_tag("game_art/tablet_keyboard_aesthetic.png", id: "tablet_keyboard_aesthetic_img") %>

			<%= image_tag("game_art/laptop_aesthetic.png", id: "laptop_aesthetic_img") %>

			<%= image_tag("game_art/laptop_screen_aesthetic.png", id: "laptop_screen_aesthetic_img") %>
			<%= image_tag("game_art/laptop_audio_aesthetic.png", id: "laptop_audio_aesthetic_img") %>
			<%= image_tag("game_art/laptop_wifi_aesthetic.png", id: "laptop_wifi_aesthetic_img") %>

			<%= image_tag("game_art/laptop_camera_aesthetic.png", id: "laptop_camera_aesthetic_img") %>
			<%= image_tag("game_art/laptop_mic_aesthetic.png", id: "laptop_mic_aesthetic_img") %>
			<%= image_tag("game_art/laptop_touch_aesthetic.png", id: "laptop_touch_aesthetic_img") %>

			<%= image_tag("game_art/goto_sell_button.png", id: "goto_sell_button_img") %>



			<%= image_tag("game_art/sale_border.png", id: "sale_border_img") %>
			<%= image_tag("game_art/sale_bar.png", id: "sale_bar_img") %>

			<%= image_tag("game_art/review_border.png", id: "review_border_img") %>

			<%= image_tag("game_art/stat_border.png", id: "stat_border_img") %>

			




		</p>
		<%=javascript_include_tag @catagory.game_name %>
			
<%# 		
 javascript_include_tag "bridge_game.js" 
		<% end %> 
 	    
	</div>

</div>