<div class="logo_mainbkgd">
	<span class="catagoryandtopic" > Welcome to 2025 Kids! </span>
		<%= link_to image_tag("navgraphics/puzzle-icon.png", :class=>'navbuttons'), puzzles_path  %> 
		<%= link_to image_tag("navgraphics/news_icon.png", :class=>'navbuttons'), news_path  %> 
		<%= link_to image_tag("navgraphics/project_icon.png", :class=>'navbuttons'), projects_path %> 
		<%= link_to image_tag("navgraphics/characters_icon.png", :class=>'navbuttons'), characters_path  %> 
	</div> <!-- background -->

<div class = "slidearea">
				
	<div class="row-fluid">
		<div class="span3">
			<span class="mainpage_title">About This Site:</span>
				<br>Use this site to learn how engineering has built the world around you! <br><br>Click any of the icons at the top to find out about that area (<span class="inlineaccentengrprocess"> Engineering Process</span>, <span class="inlineaccentmaterials"> Materials</span>, <span class="inlineaccentstructures"> Structures</span>, <span class="inlineaccentmachines"> Machines</span>, <span class="inlineaccentenergy"> Energy</span>, or  <span class="inlineaccentcomputing"> Computing</span>).
				
				<br><br><%= link_to image_tag("navgraphics/news_icon.png", :class=>'navbuttons'), news_path  %>Find out what's going on in the world of engineering in the &#8220;Engineering in the News&#8482;&#8221; area. 
				<br><%= link_to image_tag("navgraphics/project_icon.png", :class=>'navbuttons'), projects_path  %> <br>Or, do some projects from the &#8220;Projects&#8221; area. <br>
				 <%= link_to image_tag("navgraphics/characters_icon.png", :class=>'navbuttons'), characters_path  %> <br>Read about the characters on the &#8220;Characters&#8221;page. 
				<br><br>Access to all of the online content, including the 2025 Kids <b>Engineering in the News&#8482;</b>  magazine, is now FREE! You can also order print copies of the magazine. <%= link_to ("Order the magazine now!"), products_path %>
		</div> <!-- span 2 -->
		<div class="span5">
			<span class="mainpage_title">Featured Video:</span>
				<div class="row-fluid">
				 Computing is more than just coding! Watch this video to learn about hardware, software, programming, and computing embedded in everyday devices like cars and TVs.  <br><br>
					<div class="flex-video widescreen"><iframe src="//www.youtube.com/embed/lZxJgTiKDis" frameborder="0" allowfullscreen=""></iframe></div>
				</div>
		</div> <!-- span 6 -->
		<div class="span4">
			<span class="mainpage_title">Engineering in the News&#8482; <%= image_tag("news_images/newspaper.png")  %></span>
			<div class="row-fluid">
				<div class="eitn_title">Computing and the Internet</div>
				
				<div class="eitn_author">By Melissa Liu</div>
		

				March 9, 2016
				<br><br>

<%= link_to image_tag("projects_images/frontcovercomputingmarch2016.png", :class=>'navbuttons', :class=>'imageleftsmall'), magazine_path %> 
				Earlier this week, the inventor of email, Ray Tomlinson, died. Ray is the reason that all our email addresses have the <span class="pricelist_title">@</span> sign in them! You can learn more about the history of the Internet, how the Internet works, and all kinds of interesting things about <span class="inlineaccentcomputing"> Computing</span> in this month's 2025 Kids <span class="pricelist_title">Engineering in the News&#8482;</span> magazine. Click on the magazine image above or <%= link_to ("here"), magazine_path %> to read the magazine! (Download the PDF to your computer to view in two-page view for better online viewing.) To read more Engineering in the News, visit our news page:
				  <%= link_to image_tag("navgraphics/news_icon.png", :class=>'navbuttons'), news_path  %>
				
			</div> <!-- row fluid -->	
		</div> <!-- span 4 -->
			
	</div> <!-- row-fluid -->
			

		<div class="row-fluid">
			<div class="span2">
			</div>	


		<div class="span6">


		</div>


		<div class="span4">					
		</div>
	</div>
</div>













