<div class="row-fluid">	
	   	<%= link_to image_tag("kidstack_logo165x30.png", :alt =>"kidstack logo", :class => "topnav"), root_path %>
</div>

		<div class="row-fluid">	
			<div class="span4">
				
				
			</div>
			
			<div class="span4">
				<%= image_tag("boywithmagnifyingglass.png", :alt =>"boy with magnifying glass") %>

			</div>

			<div class="span4">
				<%= link_to image_tag("navgraphics/engineering_process.png", class: "indexnav"), catagory_path("Engineering Process") %>

			</div>
		</div>

	<div class="row-fluid">	
		<div class="span4">
			<%= link_to image_tag("navgraphics/materialscomingsoon.png", class: "indexnav"), "#" %> 
			
		</div>
		
		<div class="span4">
			<div class="flex-video widescreen"><iframe src="//www.youtube.com/embed/klNCvGRzsnE" frameborder="0" allowfullscreen=""></iframe></div>
		</div>
	
		<div class="span4">
			<%= link_to image_tag("navgraphics/structurescomingsoon.png", class: "indexnav"), "#" %> 
		</div>
	</div>


	<div class="row-fluid">	
		<div class="span4">
		<%= link_to image_tag("navgraphics/machinescomingsoon.png"), "#" %> 		
		</div>
	
	<div class="span4">
		<%= link_to image_tag("navgraphics/energycomingsoon.png"), "#" %> 
	</div>
	
	<div class="span4">
		<%= link_to image_tag("navgraphics/computingcomingsoon.png"), "#" %> 
	</div>











