<div class="row-fluid">	
	<div class="span5">
		<%= link_to image_tag("kidstack_logo.png", :alt =>"kidstack logo", :class => "topnav"), root_path %>
	</div>
	<div class="span4">
	</div>
	


	<div class="span3">
		<%= link_to image_tag("navgraphics/engineering_process.png", class: "indexnav"), catagory_path("Engineering Process") %>

	</div>

</div>

<div class="row-fluid">	
	
	<div class="span3">
	</div>
	<div class="span3">

			<div class="toptext">the complete technology and engineering stack for kids
			</div>

	
		
	</div>
	
	<div class="span3">
		<%= link_to image_tag("navgraphics/materialscomingsoon.png", class: "indexnav"), "#" %> 
	</div>
	
	<div class="span3">
		<%= link_to image_tag("navgraphics/structures.png", class: "indexnav"), catagory_path("Structures") %> 
	</div>

</div>


<div class="row-fluid">	
	<div class="span3">
	</div>
	<div class="span3">
		<%= link_to image_tag("navgraphics/machinescomingsoon.png"), "#" %> 		
	</div>
	
	<div class="span3">
		<%= link_to image_tag("navgraphics/energycomingsoon.png"), "#" %> 
	</div>
	
	<div class="span3">
		<%= link_to image_tag("navgraphics/computingcomingsoon.png"), "#" %> 
	</div>
</div>
</div>
</div>






