<div class="row-fluid">	
	<div class="span5">
		<%= link_to image_tag("kidstack65x65alternate4.png", :alt =>"kidstack logo", :class => "topnav"), root_path %>
	</div>
	<div class="span4">
	</div>
	


	<div class="span3">
		<%= link_to image_tag("navgraphics/engineering_process.png", class: "indexnav"), catagory_path("Engineering Process") %>

	</div>

</div>

<div class="row-fluid">	
	
	<div class="span3">
	</div>
	<div class="span3">

			<div class="toptext">the complete technology and engineering stack for kids
			</div>

	
		
	</div>
	
	<div class="span3">
		<%= link_to image_tag("navgraphics/materials.png", class: "indexnav"), catagory_path("Materials") %> 
	</div>
	
	<div class="span3">
		<%= link_to image_tag("navgraphics/structures.png", class: "indexnav"), catagory_path("Structures") %> 
	</div>

</div>


<div class="row-fluid">	
	<div class="span3">
	</div>
	<div class="span3">
		<%= link_to image_tag("navgraphics/machines.png"), catagory_path("Machines") %> 		
	</div>
	
	<div class="span3">
		<%= link_to image_tag("navgraphics/energy.png"), catagory_path("Energy") %> 
	</div>
	
	<div class="span3">
		<%= link_to image_tag("navgraphics/computing.png"), catagory_path("Computing") %> 
	</div>
</div>
</div>
</div>






