<div class="logo_mainbkgd">
	<span class="catagoryandtopic" >Engineering in the News magazine</span>
	<%= link_to image_tag("navgraphics/news_icon.png", :class=>'navbuttons'), news_path  %> </span>
	<%= link_to image_tag("navgraphics/project_icon.png", :class=>'navbuttons'), projects_path  %> 
	<%= link_to image_tag("navgraphics/characters_icon.png", :class=>'navbuttons'), characters_path  %>
	</div> <!-- background -->

<div class = "slidearea">

<span class="pricelist_title">NOTE:</span> For best viewing in two-page view, download the PDFs. They will then open in two-page view, which will make for better viewing of some pages. <br>
	<div class ="row-fluid" style="padding-bottom:20px; padding-top:10px; border-bottom: 1px solid #d9d9d9;">
		
		
		<div class="span6">
			<span class="mainpage_title">New Magazine!</span><br>
			<span class="projects_title">2025 Kids Engineering in the News&#8482; Magazine</span>
				<br> March 2016: <span class="pricelist_title">The Computing Issue</span><br><br>

			<div class="imageleftlarge" style="margin-left:20px">
				<%= link_to image_tag("projects_images/frontcovercomputingmarch2016.png", :class=>'navbuttons'), "2025Kids_March2016_Computing_x4.pdf"  %> 	
			</div>	<!-- class -->
		</div> <!-- span 6 -->
		<div class="span6">
			<br><br>
			<span class="projects_title">2025 Kids Engineering in the News&#8482; Magazine</span>
				<br> November 2015: <span class="pricelist_title">The Energy Issue</span><br><br>

			<div class="imageleftlarge" style="margin-left:20px">
				<%= link_to image_tag("projects_images/FrontPageImage.png", :class=>'navbuttons'), "2025Kids_Nov_2015_PreviewIssue_web.pdf"  %> 	
			</div>	<!-- class -->
		</div> <!-- span 6 -->

		
 	</div> <!-- row -->

	


<div class="row-fluid", style= "padding-top:10px; padding-bottom:10px; ">	

</div>
</div> <!-- slidearea -->