<div class="logo_mainbkgd">
	<div class="catagoryandtopic" > engineering in the news </div>
</div>


<div class = "slidearea">

	<div class ="row-fluid" style="padding-bottom:20px; border-bottom: 1px solid #d9d9d9;">
		<div class="span2">
			<%= link_to image_tag("navgraphics/computing.png"), catagory_path("computing") %>
			<br><br>
			<%= link_to image_tag("navgraphics/machines.png"), catagory_path("machines") %>
		</div>

		<div class="span10">
			<div class="eitn_title">Innovation: Where No Man Has Gone Before</div>

			<div class="eitn_author">By ERIN WINICK, President, University of Florida Society of Women Engineers and Mechanical Engineering Student</div>

			December 1, 2014
			<br><br>

			<div class="imagerightmedium">
				<%= image_tag "orion_on_the_launchpad.jpg" %> <br>
				
				<span class="eitn_caption">With access doors at Space Launch Complex 37 opened on Nov. 24, 2014, the Orion spacecraft and Delta IV Heavy stack is visible in its entirety inside the Mobile Service Tower where the vehicle is undergoing launch preparations. Image Credit: NASA/Kim Shiflett</span>
			</div>

			Space is something that has interested humans for centuries and has inspired humans to innovate. Innovation is the process of making something new based on something old.  Innovations improve on current knowledge and help make it better. 
			<br><br>

			Humans always want to go explore space and see what is out there.  For 30 years, NASA used the space shuttle to send astronauts into space.  According to NASA, they had five space shuttles that flew over a 130 missions. These shuttles helped build and bring supplies to the International Space Station.

			<br><br>

			Now we have our sights set on something bigger.  NASA has been using the innovation process and is now moving into a new chapter of manned space travel.  This Thursday, the new innovative Orion spacecraft will launch on a Delta IV Heavy rocket. This will be a test flight without any humans inside, but there will be many machines looking at how well Orion works.
			<br><br> 

			<div class="imageleftmedium">
				<%= image_tag "orionpreparedforliftatlaunchpad.jpg" %> <br>
				
				<span class="eitn_caption">Nov. 12, 2014 – At Cape Canaveral Air Force Station's Launch Complex 37, United Launch Alliance engineers and technicians prepare to lift the agency's Orion spacecraft for mounting atop its Delta IV Heavy rocket. Photo credit: NASA/Radislav Sinyak</span>
			</div>

			Some of the innovations that have been made in the building of Orion are a new launch abort system that will make the crew safer and new life support systems that will allow longer space flight.  Orion was also made to be able to adapt to future innovations.
			<br><br>
			
			The week’s test is a big step in space travel and will give engineers the information they need to know what further changes need to be made before putting humans inside.  During the test, Orion will go 3,000 miles into space and reach speeds of over 20,000 miles per hour to be able to give the engineers the information they need.
		
			<br><br>

			Orion has been built by engineers to, in the future, launch on the most powerful rocket ever built, the Space Launch System.  This rocket, combined with Orion, will be able to carry humans further in space than they have ever been before.  They may be able to reach an asteroid or even Mars! Orion shows what engineers can do when they put their mind to a problem and build something new to solve it. 
		
			<br><br>
			NASA put together a wonderful <a href="http://www.nasa.gov/press/2014/october/nasa-premieres-trial-by-fire-video-on-orion-s-flight-test/#.VHzU11fF-fM" target="_blank">video</a> about the Orion spacecraft (click the "video" link to view it on the NASA web site). You can read more about Orion on the <a href="http://www.nasa.gov/orion" target="_blank">Orion section of the NASA web site</a>. And, you can find Orion-related word searches and other activities for kids <a href="http://www.nasa.gov/centers/johnson/about/resources/jscfacts/activity_coloring_sheets.html#.VHzUlFfF-fM" target="_blank">here</a>.
		</div>
	</div>

	<div class ="row-fluid" style="padding-bottom:20px; padding-top:30px; border-bottom: 1px solid #d9d9d9;">
		<div class="span2">
			<%= link_to image_tag("navgraphics/structures.png"), catagory_path("structures") %>
		</div>

		<div class="span10">
			<div class="eitn_title">Structures: Scraping the Sky</div>

			<div class="eitn_author">By ERIN WINICK, President, University of Florida Society of Women Engineers and Mechanical Engineering Student</div>

			November 21, 2014
			<br><br>

			<div class="imagerightsmall">
				<%= image_tag "Polercoaster_concept.jpg" %> <br>
				
				<span class="eitn_caption">Concept image of the Skyscraper roller coaster, opening in 2017 in Orlando, Fla. </span>
			</div>

			As engineers keep pushing the limits to make things taller, faster, stronger and better, they often have to develop new ideas to take things to the next level.  In Orlando, Fla., engineers are pushing the limits of roller coasters using new structural engineering ideas.
			<br><br>

			The current tallest roller coaster in the world is called Kingda Ka and is at Six Flags in New Jersey.  According to the Six Flags website, this roller coaster is 456 feet tall and reaches speeds of 128 miles per hour, but lasts under a minute. To be able to top this giant, engineers from US Thrill Rides have come up with new ideas to support tracks at higher heights and to create a longer journey for the riders.  The result of their efforts is the new roller coaster called "Skyscraper".

			<br><br>

			Opening in 2017, Skyscraper will stand over 570 feet tall. Lasting almost four minutes, this ride will be full of twists and dives to keep riders excited. To support this massive track, engineers came up with a new way to support this ride.  Engineers will be using an actual skyscraper as the structural support!  Structures are all load bearing objects, and this building is no exception. 
			<br><br> 

			In the case of this roller coaster, the skyscraper will need to support the weight of the building and the roller coaster track, cars and riders.  Also, Skyscraper will plan its twists and turns to rotate around the outside of the building, giving people inside a great view of those riding the coaster. Engineers are using as much of the building as they can to make the roller coaster safer and more fun for those watching and those riding it.
			<br><br>

			There will be many structural engineers making sure that all of the forces being put on this tall building will be supported and that the roller coaster will be safe to ride. Engineers don't just solve problems, they also make our world more fun. Take a <a href="https://www.youtube.com/watch?v=1gK5MWQ__Ns" target="_blank">virtual tour</a> on the coaster!


		</div>
	</div>

	<div class="row-fluid" style="padding-top:30px;">

		<div class="span2">
			<%= link_to image_tag("navgraphics/failure_analysis.png"), topic_path("failure analysis") %>
		</div>
		<div class="span10">
			<div class="eitn_title">Failure Analysis: Learning from our Mistakes</div>


			<div class="eitn_author">By ERIN WINICK, President, University of Florida Society of Women Engineers and Mechanical Engineering Student</div>

			November 13, 2014	
			<br><br>

			We have all had times when we have experienced failure.  Everything can’t go perfectly all the time.  Engineering is no exception.  Mistakes are just as much a part of the engineering field as success.  No major discovery or success can be made without months or years of trial and error. The important thing is that we learn from our failure, so we don't make the same mistakes again. In engineering, this is done through failure analysis.

			<br><br>
			Scientist and engineers are using failure analysis right now on two different spacecraft that failed in the past few weeks.  The first spacecraft was an unmanned rocket that blew up just seconds after takeoff.  This rocket was meant to bring supplies up to astronauts in the space station.
		
		
			<div class="imagerightmediuminline">
				<%= link_to image_tag("launch-pad-looking-south-after-failure copy.jpg"), "http://www.nasa.gov/press/2014/october/nasa-s-wallops-flight-facility-completes-initial-assessment-after-orbital-launch/#.VGUvNfR4p7F", :target => "_blank"%> <br>
				<span class="eitn_caption">An aerial view of the Wallops Island launch facilities taken by the Wallops Incident Response Team Oct. 29 following the failed launch attempt of Orbital Science Corp.'s Antares rocket Oct. 28. Image Credit: NASA/Terry Zaperach. </span>
			</div>
		
		
		
		
			<br><br>
			
			The second spacecraft was a space plane that was supposed to be used for space tourism in the future.  The space plane, created by Virgin Galactic, exploded over the desert during a test flight. 

			<br><br>
		
			Just minutes after both of these crashes occurred, engineers had to put asside their disappointment and sadness and begin to look at what went wrong. To figure out what went wrong with the rocket, engineers will have to mainly use video and data they took during the launch since the explosion destroyed a large amount of rocket.  This is where engineers have to use their problem-solving skills and adapt to fit the situation.

			<br><br>
		
			For the space plane, more information is available since parts of the plane were able to be collected.  This plane was still going through testing, so lots of data was being taken.   According to the BBC, one possible cause of the crash was a special part of the tail of the plane coming out too early. These tails make the plane slow down.  This was discovered through failure analysis. 
		
			<br><br>

			Since both of these accidents occurred recently, engineers are not yet exactly sure what happened to cause them.  In the weeks or months to come, engineers will continue to perform failure analysis and to find the causes of the accidents and how to prevent them in the future.  We must learn from our mistakes and use them to help make our technology better and safer.
		</div>
	</div>
</div>
