

<div class="logo_mainbkgd">
  <div class="catagoryandtopic" > engineering in the news 
	<%= link_to image_tag("navgraphics/puzzle-icon.png", :class=>'navbuttons'), puzzles_path  %>
	<%= link_to image_tag("navgraphics/news_icon.png", :class=>'navbuttons'), news_path  %> 
	<%= link_to image_tag("navgraphics/project_icon.png", :class=>'navbuttons'), projects_path  %> 
	<%= link_to image_tag("navgraphics/characters_icon.png", :class=>'navbuttons'), characters_path  %>
	</div>
</div>



<div class = "slidearea">

<!-- start -->
	<div class ="row-fluid" style="padding-bottom:20px; border-bottom: 1px solid #d9d9d9;">
		<div class="span2">
			<div class ="row-fluid" style="padding-bottom:20px; border-bottom: 1px solid #d9d9d9;">
				<div class="span12">
					
			<%= link_to image_tag("projects_images/frontcovercomputingmarch2016.png", :class=>'navbuttons'),magazine_path  %> 
					
				</div>
			</div>
			<div class ="row-fluid" style="padding-bottom:20px; border-bottom: 1px solid #d9d9d9;">
				<div class="span12">
			<%= link_to image_tag("projects_images/FrontPageImage.png", :class=>'navbuttons'), magazine_path %>
				</div>
			</div>
		</div> <!-- span 2 -->

		<div class="span6">
			<br>
			<div class="eitn_title">2025 Kids <span class="pricelist_title">Engineering in the News&#8482;</span> magazine<br></div>
			Now Available: The Computing Edition! Get kids engaged in engineering and enable them to discover how engineering is changing the world around us. This fun magazine is available online and print editions. Online access is currently <span class="pricelist_title">FREE!</span> Click the images at left to read the magazines online. For best viewing, download the PDFs, then put them in two-page view.<br><br>
			<div class="eitn_title" >About this magazine:</div>
			<div class="engineering_process_bkgd">
				<div class="projects_materials_needed">
					•	Engineering-focused magazine, written for kids 10+<br>
					•	Great for adults, too!<br>
					•	Current topics, new innovations, and discoveries<br>
					•	New projects every issue<br>
					•	Includes puzzles and activities<br>
					•	Loads of information about engineering in the world around us<br>
					•	Lots of engaging infromation about how things in our world work<br>
				</div> <!-- class matls needed -->
			</div> <!-- background -->
		</div> <!-- span 7 -->
		<div class="span4">
					<br><div class="eitn_title">March Edition: <span class="pricelist_title">The Computing Issue</span></div>This issue covers high tech centers around the world, history of the Internet, basics of how the Internet works, the Internet of Things (IoT), a Python programming project, and fun puzzles and activities. <br>
		
	
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="T6H3EJRRDQ6HQ">
			<table>
			<tr><td><input type="hidden" name="on0" value="Print Copies">Printed Copies:</td></tr><tr><td><select name="os0">
				<option value="1 copy">1 copy $4.95 USD</option>
				<option value="10 copies">10 copies $47.03 USD</option>
				<option value="20 copies">20 copies $89.10 USD</option>
				<option value="30 copies">30 copies $126.23 USD</option>
			</select> </td></tr>
			</table>
			<input type="hidden" name="currency_code" value="USD">
			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>

		Online access is FREE. Click <%= link_to ("here"), magazine_path  %> to view online.<br>
		
					<br><div class="eitn_title">November Edition: <span class="pricelist_title">The Energy Issue</span></div>This issue includes energy sources around the world, how the electric grid works, solar energy and other renewables, a fun circuit project to build a Morse Code transmitter, and other fun activities and puzzles. <br>
		

			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="9HUWPEKXE9VEJ">
			<table>
			<tr><td><input type="hidden" name="on0" value="Copies">Printed Copies:</td></tr><tr><td><select name="os0">
				<option value="1 copy">1 copy $4.95 USD</option>
				<option value="10 copies">10 copies $47.03 USD</option>
				<option value="20 copies">20 copies $89.10 USD</option>
				<option value="30 copies">30 copies $126.23 USD</option>
			</select> </td></tr>
			</table>
			<input type="hidden" name="currency_code" value="USD">
			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>

			
	Online access is FREE. Click <%= link_to ("here"), magazine_path  %> to view online.
		
		</div> <!-- span 2 -->
	</div> <!-- row -->
	<br>
	
	

	<br>		
	<div class ="row-fluid" style="padding-bottom:20px; border-bottom: 1px solid #d9d9d9;">
		<div class="span2">

			<%= link_to image_tag("navgraphics/innovation_process.png"), topic_path("innovation process") %>
			<br><br>
			<%= link_to image_tag("navgraphics/materials.png"), catagory_path("Materials") %>
		</div>

		<div class="span10">
	
			<div class="eitn_title">3D Printing - Improving the Medical World</div>
			<div class="eitn_author">By Tanera van Diggelen, Pre-Med Student at University of California, Los Angeles</div>
			September 4, 2015
			<br><br>

			<span class="eitn_header">3D Printers print solid objects that you can <span class="eitn_emphasis">eat</span>, <span class="eitn_emphasis">wear</span>, and <span class="eitn_emphasis">stand on</span></span><br><br>
			
			<div class="imagerightsmall">
				<%= image_tag "news_images/Wearable_3D_Printed_Shoes.jpg" %> <br>
				
				<span class="eitn_caption">Wearable 3D Printed Shoes, Strvct, Wikimedia</span>
			</div>
			
			Imagine being able to print an actual pizza from a picture found on a computer. This is what 3-dimensional printing is allowing us to do. 3D printers create three dimensional objects of a digital picture. They print with materials rather than with the ink 2D printers use. One thin layer is placed on top of another until the solid object is made.
			
			<br><br>
			The object is either designed from scratch or scanned using a 3D scanner. The software for this process separates the digital picture into many horizontal layers. You can think of each layer as a two-dimensional image. The printer then reads and prints each layer. Guitars, car parts, and bikinis have been 3D printed. These printers are also helping people in a big way. Replacement bones and body parts can now be printed, and this is just the beginning. Looking to the future, this technology has many promising possibilities in the medical world. 	
			<br><br>
			
			<span class="eitn_header">Printed body parts are more <span class="eitn_emphasis">quickly</span> and <span class="eitn_emphasis">precisely</span> than other methods</span><br><br>
			
			<div class="imageleftsmall">
				<%= image_tag "news_images/3d_printed_ear_249201997.jpg" %> <br>		
				<span class="eitn_caption">3d printed human ear, belekekin, Shutterstock</span>	
			</div>
			
			Imagine replacing your leg or arm with a manmade one. Our legs must be strong enough to hold our weight, yet also be able to bend and absorb force without breaking. An arm must have similar properties. Therefore, the engineering that goes into making a prosthetic limb is quite amazing. An even greater accomplishment is being able to print one.
			
			<br><br>
			In 2008, the first printed prosthetic leg was made. A prosthetic is a man-made device that replaces a missing body part. Printing legs and sockets is superior to old processes because of its speed and accuracy. The socket attaches the prosthetic leg or arm to the body. 3D printed sockets must correctly fit the specific patient and hold the prosthetic leg in place. Designing and molding a socket can take weeks. In comparison, scanning the dimensions and printing a socket takes a few hours. Printed legs are also custom made to fit. To do this, the remaining leg and area that the leg will be attached to are both 3D scanned. This allows the printed leg to be as close as possible to the remaining leg. Their dimensions differ by mere millimeters. 
			
			<br><br>
			On top of their speed of production, 3D printers use strong and resilient materials. A popular one is titanium. This element is extremely strong, lightweight, and hypoallergenic. A titanium leg will be able to support a person whether they wish to walk, jump, or run on it. It will not feel heavy when attached and, since it is hypoallergenic, the person’s body will not react to or reject the leg. 
			
			
			<br><br>
Other body parts have also been printed, such as ears and noses. These are made from silicone. Like prosthetic limbs, printed ears and noses are much cheaper to make than sculpted body parts. They also better match the patient’s skin tone. 
		
			<br><br>
			<span class="eitn_header">Printers use <span class="eitn_emphasis">living cells</span> as a <span class="eitn_emphasis">material in order to print blood vessels</span></span><br><br>
			
			<div class="imagerightxsmall">
				<%= image_tag "news_images/MakerBot_ThingOMatic_Bre_Pettis.jpg" %> <br>		
				<span class="eitn_caption">The MakerBot Cupcake CNC, Bre Pettis, Wikimedia Creative Commons 2.0</span>	
			</div>
			
			Many breakthroughs in engineering begin with a discovery. In 2002, Professor Makoto Nakamura made his. Nakamura is a medical researcher who lives in Japan. Currently, he is working on printing human organs. Someday, he hopes to print a working heart.
			<br><br>
			For over ten years, Nakamura has been improving printing technology. He noticed that the ink drops from an inkjet printer are around the same size as the cells in our bodies. Inkjet printers are the common printers that you probably have at home. With this realization, he started changing 3D printing technology. In 2008, his team printed the first artificial blood vessel. You might classify an organ as a heart or a lung. However, blood vessels are organs as well. This printed “flat” organ was an incredible breakthrough! Those branched blood vessels you see on your wrists, hands, and feet could now be printed in a few minutes. 
			
			<br><br>
			It turns out that printing the synthetic tissue was the easy part. Synthetic is another way of saying “man-made”. The more difficult task was having strong blood vessels that would not break when blood was pumped through them. To solve this problem, researchers grew human cells around the printed blood vessels. The human cells become strong and stable and eventually dissolve the 3D printed material. In the end, the 3D printed material, which is fiber, acts as a template. To create a blood vessel that can be transplanted into a human, human cells must be grown on this template. 
			
			<br><br>
			Being able to print blood vessels is another example of how helpful advances in engineering can be. Researchers and doctors are looking into replacing blocked blood vessels with healthy, printed ones. Such a transplant could help people who have heart disease; which is one of the leading causes of death.
			
			<br><br>
			<span class="eitn_header">Printed organs may one day <span class="eitn_emphasis">save lives</span></span><br><br>
			After researchers had the ability to print artificial blood vessels, they wondered, “What’s next?” The answer: larger internal organs. 
			
			<br><br>
			As with all other printed solid objects, the organ is created layer by layer. Initially, printers could only print an organ scaffold, which is a 3D model of the organ. This scaffold had to be covered with living cells after printing occurred. Now, some printers are able to use cells as a material. 3D printer cartridges are loaded with living cells and smart gel. The gel helps provide structure for the printed organ. The printer lays down alternating layers of cells and smart gel in the shape of the organ. After printing, the organ is cooled and the smart gel is washed away so that only living cells remain. 
			<br><br>
			Printed organs have already gone to good use. We are now able to scan a person’s heart and print a precise model of it. Doctors can have a better understanding of a patient’s heart because of such models. Doctors can also prepare for surgery by studying a printed model. 
			<br><br>
			Both printed blood vessels and larger organs might soon be used to test the effectiveness of new drugs. Just as with blood vessels, printed organs could also be used to replace a failing organ in a patient. This would help solve the problem of the growing organ donor list. Currently, over 123,000 people in the United States need a lifesaving organ transplant. If we can someday print and use organs for transplantations, this number will be greatly reduced.
			<br><br>
			New and improved technology will be used more and more often to improve health, demonstrating that engineers too can save lives.		
			
			<br><br>
			In addition to helping the medical world, 3D printers have many other uses. These marvelous machines are assisting dogs and even astronauts! The article below will teach you more about what engineers are doing with these modern printers. 
		</div>
	</div>
	
<!-- end -->

<br>

	<div class ="row-fluid" style="padding-bottom:20px; border-bottom: 1px solid #d9d9d9;">
		<div class="span2">

			<%= link_to image_tag("navgraphics/innovation_process.png"), topic_path("innovation process") %>
			<br><br>
			<%= link_to image_tag("navgraphics/materials.png"), catagory_path("Materials") %>
		</div>

		<div class="span10">
	
			<div class="eitn_title">3D Print It: From Plastic to Metal to Food!</div>
			<div class="eitn_author">By ERIN WINICK, President, University of Florida Society of Women Engineers and Mechanical Engineering Student</div>
			January 13, 2015
			<br><br>


			<div class="imagerightsmall">
				<%= image_tag "news_images/3d_printer_175520168.jpg" %> <br>
				
				<span class="eitn_caption">Example of a 3D printer</span>
			</div>

			3D printing is letting engineers be creative in ways they never have before!  3D printing uses soft materials pushed through a small moving tip to build shapes and objects.  This has allowed for the faster and cheaper making of many items.  3D printing is being used by scientists, engineers and even kids like you!   
			<br><br>
				

			The main material being using in 3D printing right now is plastic.  Plastic is a cheap material that can easily be made soft and hard by the printer.  This made plastic a good choice for people to start out 3D printing.
			<br><br>
			
			
			One way engineers are helping the world with 3D printing is making cheaper and different kinds of prosthetic limbs.  Prosthetic limbs are given to people that have lost or were born without an arm, leg, etc.  
			
		
			Dogs are even being helped out by this!  Derby the dog is now running on new 3D printed legs thanks to his owner.  Derby had a hard time moving around like other dogs until his owner made Derby his own legs with a 3D printer.  The 3D printing let the legs be light weight and shaped exactly how Derby needed to run easier and move like other dogs.You can read more about Derby and see a video of him <a href="http://www.washingtonpost.com/news/speaking-of-science/wp/2014/12/17/meet-derby-the-dog-who-runs-on-3-d-printed-legs/" target="_blank">here</a>. 
			<br><br>
			

			However, plastic cannot do everything.  That is why 3D printing engineers are now 3D printing metal, rubber-like material, and even food! By 3D printing all of these different materials, engineers can use of the softness of rubber, the strength of metal and the yumminess of food to make everything from everyday objects to rocket parts to chocolate shapes by printing them.
			<br><br>
			
			<div class="imageleftsmall">
				<%= image_tag "news_images/3d_printer_196793492.jpg" %> <br>
				
				<span class="eitn_caption">Example of a 3D printer, showing how layers are built by pouring materials through the moving tip</span>
			</div>
			
			A new 3D printer just shown this week can actually print edible 3D cookies and pizza.  This is going to be one of the first food 3D printers sold to use at home, making the future closer than we thought!
			<br><br>

			3D printing is letting engineers express their creativity in faster, cheaper and easier ways. Even astronauts wanted to try out this new technology.  There is now a 3D printer on the space station for making anything the astronauts might need while they are up in space and cannot come back to Earth to get.
			<br><br>
			
			Do you want to try 3D printing too?  Well now you can try it out yourself thanks to TinkerCad and Printeer!  With <a href="https://tinkercad.com/" target="_blank">TinkerCad</a> you can learn the basics of 3D design just like the engineers use and <a href="http://printeer.com/" target="_blank">Printeer</a> is a kid friendly 3D printer you can use to print your designs. 
			
		</div>
	</div>
	
	
	<div class ="row-fluid" style="padding-bottom:20px; padding-top:30px; border-bottom: 1px solid #d9d9d9;">
		<div class="span2">

			<%= link_to image_tag("navgraphics/innovation_process.png"), topic_path("innovation process") %>
			<br><br>
			<%= link_to image_tag("navgraphics/computing.png"), catagory_path("Computing") %>
			<br><br>
			<%= link_to image_tag("navgraphics/machines.png"), catagory_path("Machines") %>
		</div>

		<div class="span10">
	
			<div class="eitn_title">Innovation: Where No Man Has Gone Before</div>
			<div class="eitn_author">By ERIN WINICK, President, University of Florida Society of Women Engineers and Mechanical Engineering Student</div>
				
		
			
				
			<div class="flex-video widescreen"><iframe src="//www.youtube.com/embed/9Q-DIpUxxzY" frameborder="0" allowfullscreen=""></iframe></div>
			
				December 1, 2014  <b>-- See the December 5th Launch Day update below!</b>
			<br><br>

			<div class="imagerightmedium">
				<%= image_tag "orion_on_the_launchpad.jpg" %> <br>
				
				<span class="eitn_caption">With access doors at Space Launch Complex 37 opened on Nov. 24, 2014, the Orion spacecraft and Delta IV Heavy stack is visible in its entirety inside the Mobile Service Tower where the vehicle is undergoing launch preparations. Image Credit: NASA/Kim Shiflett</span>
			</div>



			Space is something that has interested humans for centuries and has inspired humans to innovate. Innovation is the process of making something new based on something old.  Innovations improve on current knowledge and help make it better. 
			<br><br>

			Humans always want to go explore space and see what is out there.  For 30 years, NASA used the space shuttle to send astronauts into space.  According to NASA, they had five space shuttles that flew over a 130 missions. These shuttles helped build and bring supplies to the International Space Station.

			<br><br>

			Now we have our sights set on something bigger.  NASA has been using the innovation process and is now moving into a new chapter of manned space travel.  This Thursday, the new innovative Orion spacecraft will launch on a Delta IV Heavy rocket. This will be a test flight without any humans inside, but there will be many machines looking at how well Orion works.
			<br><br> 

			<div class="imageleftmedium">
				<%= image_tag "orionpreparedforliftatlaunchpad.jpg" %> <br>
				
				<span class="eitn_caption">Nov. 12, 2014 – At Cape Canaveral Air Force Station's Launch Complex 37, United Launch Alliance engineers and technicians prepare to lift the agency's Orion spacecraft for mounting atop its Delta IV Heavy rocket. Photo credit: NASA/Radislav Sinyak</span>
			</div>

			Some of the innovations that have been made in the building of Orion are a new launch abort system that will make the crew safer and new life support systems that will allow longer space flight.  Orion was also made to be able to adapt to future innovations.
			<br><br>
			
			The week’s test is a big step in space travel and will give engineers the information they need to know what further changes need to be made before putting humans inside.  During the test, Orion will go 3,000 miles into space and reach speeds of over 20,000 miles per hour to be able to give the engineers the information they need.
		
			<br><br>

			Orion has been built by engineers to, in the future, launch on the most powerful rocket ever built, the Space Launch System.  This rocket, combined with Orion, will be able to carry humans further in space than they have ever been before.  They may be able to reach an asteroid or even Mars! Orion shows what engineers can do when they put their mind to a problem and build something new to solve it. 
		
			<br><br>
			NASA put together a wonderful <a href="http://www.nasa.gov/press/2014/october/nasa-premieres-trial-by-fire-video-on-orion-s-flight-test/#.VHzU11fF-fM" target="_blank">video</a> about the Orion spacecraft (click the "video" link to view it on the NASA web site). You can read more about Orion on the <a href="http://www.nasa.gov/orion" target="_blank">Orion section of the NASA web site</a>. And, you can find Orion-related word searches and other activities for kids <a href="http://www.nasa.gov/centers/johnson/about/resources/jscfacts/activity_coloring_sheets.html#.VHzUlFfF-fM" target="_blank">here</a>.
			
			<br><br>
			<b>Friday, December 5, 2014, Orion Launch Update:</b> After a one-day delay, Orion lifted off successfully this morning at 7:05 Eastern time. The NASA video of the launch is exciting! You can watch the launch  <a href="https://www.youtube.com/watch?v=UEuOpxOrA_0" target="_blank">here</a>.
		</div>
	</div>

	<div class ="row-fluid" style="padding-bottom:20px; padding-top:30px; border-bottom: 1px solid #d9d9d9;">
		<div class="span2">
			<%= link_to image_tag("navgraphics/structures.png"), catagory_path("Structures") %> 
		</div>

		<div class="span10">
			<div class="eitn_title">Structures: Scraping the Sky</div>

			<div class="eitn_author">By ERIN WINICK, President, University of Florida Society of Women Engineers and Mechanical Engineering Student</div>

			November 21, 2014
			<br><br>

			<div class="imagerightsmall">
				<%= image_tag "Polercoaster_concept.jpg" %> <br>
				
				<span class="eitn_caption">Concept image of the Skyscraper roller coaster, opening in 2017 in Orlando, Fla. </span>
			</div>

			As engineers keep pushing the limits to make things taller, faster, stronger and better, they often have to develop new ideas to take things to the next level.  In Orlando, Fla., engineers are pushing the limits of roller coasters using new structural engineering ideas.
			<br><br>

			The current tallest roller coaster in the world is called Kingda Ka and is at Six Flags in New Jersey.  According to the Six Flags website, this roller coaster is 456 feet tall and reaches speeds of 128 miles per hour, but lasts under a minute. To be able to top this giant, engineers from US Thrill Rides have come up with new ideas to support tracks at higher heights and to create a longer journey for the riders.  The result of their efforts is the new roller coaster called "Skyscraper".

			<br><br>

			Opening in 2017, Skyscraper will stand over 570 feet tall. Lasting almost four minutes, this ride will be full of twists and dives to keep riders excited. To support this massive track, engineers came up with a new way to support this ride.  Engineers will be using an actual skyscraper as the structural support!  Structures are all load bearing objects, and this building is no exception. 
			<br><br> 

			In the case of this roller coaster, the skyscraper will need to support the weight of the building and the roller coaster track, cars and riders.  Also, Skyscraper will plan its twists and turns to rotate around the outside of the building, giving people inside a great view of those riding the coaster. Engineers are using as much of the building as they can to make the roller coaster safer and more fun for those watching and those riding it.
			<br><br>

			There will be many structural engineers making sure that all of the forces being put on this tall building will be supported and that the roller coaster will be safe to ride. Engineers don't just solve problems, they also make our world more fun. Take a <a href="https://www.youtube.com/watch?v=1gK5MWQ__Ns" target="_blank">virtual tour</a> on the coaster!


		</div>
	</div>

	<div class="row-fluid" style="padding-top:30px;">

		<div class="span2">
			<%= link_to image_tag("navgraphics/failure_analysis.png"), topic_path("failure analysis") %>
		</div>
		<div class="span10">
			<div class="eitn_title">Failure Analysis: Learning from our Mistakes</div>


			<div class="eitn_author">By ERIN WINICK, President, University of Florida Society of Women Engineers and Mechanical Engineering Student</div>

			November 13, 2014	
			<br><br>

			We have all had times when we have experienced failure.  Everything can’t go perfectly all the time.  Engineering is no exception.  Mistakes are just as much a part of the engineering field as success.  No major discovery or success can be made without months or years of trial and error. The important thing is that we learn from our failure, so we don't make the same mistakes again. In engineering, this is done through failure analysis.

			<br><br>
			Scientist and engineers are using failure analysis right now on two different spacecraft that failed in the past few weeks.  The first spacecraft was an unmanned rocket that blew up just seconds after takeoff.  This rocket was meant to bring supplies up to astronauts in the space station.
		
		
			<div class="imagerightmediuminline">
				<%= link_to image_tag("launch-pad-looking-south-after-failure copy.jpg"), "http://www.nasa.gov/press/2014/october/nasa-s-wallops-flight-facility-completes-initial-assessment-after-orbital-launch/#.VGUvNfR4p7F", :target => "_blank"%> <br>
				<span class="eitn_caption">An aerial view of the Wallops Island launch facilities taken by the Wallops Incident Response Team Oct. 29 following the failed launch attempt of Orbital Science Corp.'s Antares rocket Oct. 28. Image Credit: NASA/Terry Zaperach. </span>
			</div>
		
		
		
		
			<br><br>
			
			The second spacecraft was a space plane that was supposed to be used for space tourism in the future.  The space plane, created by Virgin Galactic, exploded over the desert during a test flight. 

			<br><br>
		
			Just minutes after both of these crashes occurred, engineers had to put asside their disappointment and sadness and begin to look at what went wrong. To figure out what went wrong with the rocket, engineers will have to mainly use video and data they took during the launch since the explosion destroyed a large amount of rocket.  This is where engineers have to use their problem-solving skills and adapt to fit the situation.

			<br><br>
		
			For the space plane, more information is available since parts of the plane were able to be collected.  This plane was still going through testing, so lots of data was being taken.   According to the BBC, one possible cause of the crash was a special part of the tail of the plane coming out too early. These tails make the plane slow down.  This was discovered through failure analysis. 
		
			<br><br>

			Since both of these accidents occurred recently, engineers are not yet exactly sure what happened to cause them.  In the weeks or months to come, engineers will continue to perform failure analysis and to find the causes of the accidents and how to prevent them in the future.  We must learn from our mistakes and use them to help make our technology better and safer.
		</div>
	</div>
</div>
