<div class="logo_mainbkgd">
	<div class="catagoryandtopic" > projects </div>
</div>


<div class = "slidearea">

	<div class ="row-fluid" style="padding-bottom:20px; border-bottom: 1px solid #d9d9d9;">
		<div class="span2">
			<%= link_to image_tag("navgraphics/structures.png"), catagory_path("Structures") %>
		</div> <!-- span2 -->

		<div class="span4">
				<div class="projects_title">Build a Bridge That Can Support 100 Pennies</div>
				
				<div class="projects_description">In this project, you will build a bridge that can support $1 worth of pennies. Bridges are structures that are used to cross land features, such as rivers and freeways. A bridge needs to support its own weight (the “dead load”) and whatever will be on the bridge (the “live load” – pennies, in this case). </div> <!-- end projects description -->
		</div> <!-- span 4 -->
		
		<div class="span3">	
			<div class="structures_bkgd">
			<div class="projects_caption" >You Will Need:</div>
				<div class="projects_materials_needed">
					•	Pins<br>
					•	Straight Straws<br>
					•	Scissors<br>
					•	1 small bathroom cup<br>
					•	String<br>
					•	Books or other materials for stacking<br>
				</div> <!-- class matls needed -->
			</div> <!-- background -->
		</div> <!-- span 3 -->
		
		<div class="span3">						
				<div class="imageleftlarge" style="margin-left: 30px">
					<%= link_to image_tag("projects_images/Proj_Structures_Bridge_100pennies.png", :class=>'navbuttons'), "Proj_Structures_Bridge_100pennies.pdf"  %> 
				</div>	<!-- class -->
		</div> <!-- span 3 -->
 	</div> <!-- row -->


	<div class ="row-fluid" style="padding-bottom:20px; padding-top: 20px; border-bottom: 1px solid #d9d9d9;">
		<div class="span2">
			<%= link_to image_tag("navgraphics/structures.png"), catagory_path("Structures") %>
		</div> <!-- span2 -->

		<div class="span4">
		
				<div class="projects_title">Use Materials to Build a Structure that can Withstand Earthquakes</div>
				
				<div class="projects_description">Engineers must design structures for what the earth might put it up against, including earthquakes. This project is to design an earthquake-proof structure by choosing good materials.</div> <!-- end projects description -->
		</div> <!-- span 4 -->
		
		<div class="span3">	
			<div class="structures_bkgd">
				<div class="projects_caption" >You Will Need:</div>
				<div class="projects_materials_needed">
					•	Gum drops<br>
					•	Toothpicks<br>
					•	Prepared Tray of Jell-O<br>
					<br>
				</div> <!-- class matls needed -->
			</div> <!-- background -->
			</div> <!-- span 3 -->
		
		<div class="span3">						
				<div class="imageleftlarge" style="margin-left: 30px">
					<%= link_to image_tag("projects_images/Proj_Structures_EarthquakeProofing.png", :class=>'navbuttons'), "Proj_Structures_Bridge_100pennies.pdf"  %> 
				</div>	<!-- class -->
		</div> <!-- span 3 -->
 	</div> <!-- row -->


	<div class ="row-fluid" style="padding-bottom:20px; padding-top: 20px; border-bottom: 1px solid #d9d9d9;">
		<div class="span2">
			<%= link_to image_tag("navgraphics/materials.png"), catagory_path("Materials") %>
		</div> <!-- span2 -->

		<div class="span4">
		
				<div class="projects_title">Bouncing Balls of Different Materials </div>
				
				<div class="projects_description">On a school playground, you might find many different kinds of balls, made from different materials. Different materials have different properties. In this project, you get to experiment with the “bouncy-ness” of balls made from different materials.</div> <!-- end projects description -->
		</div> <!-- span 4 -->
		
		<div class="span3">	
			<div class="materials_bkgd">
				<div class="projects_caption" >You Will Need:</div>
				<div class="projects_materials_needed">
					•	Bouncy Ball	<br>
					•	Tennis Ball	<br>
					•	Golf Ball	<br>
					•	Basketball	<br>
					•	Volleyball	<br>
					•	Yard Stick	<br>
					•	Masking Tape	<br>
					•	Concrete sidewalk or patio
					<br>
					<br>
				</div> <!-- class matls needed -->
			</div> <!-- background -->
		</div> <!-- span 3 -->
		
		<div class="span3">						
				<div class="imageleftlarge" style="margin-left: 30px">
					<%= link_to image_tag("projects_images/proj_materials.png", :class=>'navbuttons'), "proj_materials.pdf"  %>  
				</div>	<!-- class -->
		</div> <!-- span 3 -->
 	</div> <!-- row -->




	<div class ="row-fluid" style="padding-bottom:20px; padding-top: 20px; border-bottom: 1px solid #d9d9d9;">
		<div class="span2">
			<%= link_to image_tag("navgraphics/machines.png"), catagory_path("Machines") %>
		</div> <!-- span2 -->

		<div class="span4">
		
			<div class="projects_title">Different Machines to Power a Car </div>
				
				<div class="projects_description">This project is a corkboard toy car launcher. This project demonstrates the idea of stored energy. Energy is stored in the rubber band when you pull it back, and transferred to the car when you release it. You can also create a ramp to give the car lift.</div> <!-- end projects description -->
		</div> <!-- span 4 -->
		
		<div class="span3">	
			<div class="machines_bkgd">
				<div class="projects_caption" >You Will Need:</div>
				<div class="projects_materials_needed">
					•	12 inch x 12 inch Corkboard<br>
					•	2 Push Pins<br>
					•	1 Long rubber band<br>
					•	1 Paper clip<br>
					•	1 Toy car<br>
					•	Masking Tape<br>
					<br>
				</div> <!-- class matls needed -->
			</div> <!-- background -->
		</div> <!-- span 3 -->
		
		<div class="span3">						
				<div class="imageleftlarge" style="margin-left: 30px">
					<%= link_to image_tag("projects_images/proj_machines.png", :class=>'navbuttons'), "proj_machines.pdf"  %>  
				</div>	<!-- class -->
		</div> <!-- span 3 -->
 	</div> <!-- row -->




	
</div>	<!-- slidearea -->
	
