<div class="logo_mainbkgd">
	<div class="catagoryandtopic" > projects 
		<%= link_to image_tag("navgraphics/news_icon.png", :class=>'navbuttons'), news_path  %> 
		<%= link_to image_tag("navgraphics/project_icon.png", :class=>'navbuttons'), projects_path  %> 
		<%= link_to image_tag("navgraphics/characters_icon.png", :class=>'navbuttons'), characters_path  %> 
</div>
</div>


<div class = "slidearea">

	<div class ="row-fluid" style="padding-bottom:5px; border-bottom: 1px solid #d9d9d9;">
		<div class="span2">
			<%= link_to image_tag("navgraphics/computing.png"), catagory_path("Computing") %>
		</div> <!-- span2 -->

		<div class="span4">
				<div class="projects_title">Learn the Python Programming Language (ages 10+)</div>
				
				<div class="projects_description">This set of activities from <a href="http://hulaloop.io" target="_blank">Hulaloop</a> uses the Pythonroom learning environment to teach kids how to program in Python. Python is a real-world, professional programming language -- yet, it is fairly straightforward. Pythonroom guides kids bit by bit through Python syntax to create programs like a Pig Latin translator, the Rock, Paper, Scissors game, a secret code generator and more. 
				</div> <!-- end projects description -->
		</div> <!-- span 4 -->
		
		<div class="span3">	
			<div class="computing_bkgd">
			<div class="projects_caption" >You Will Need:</div>
				<div class="projects_materials_needed">
					•	A computer with a web browser and Internet access<br>
					•	A free account at PythonRoom that the project will guide you to create<br>
				</div> <!-- class matls needed -->
			</div> <!-- background -->
		</div> <!-- span 3 -->
		
		<div class="span3">						
				<div class="imageleftlarge" style="margin-left: 30px">
					<%= link_to image_tag("projects_images/pythonprogramming.png", :class=>'navbuttons'), "PythonProgramming.pdf"  %> 
				</div>	<!-- class -->
		</div> <!-- span 3 -->
 	</div> <!-- row -->

	<div class ="row-fluid" style="padding-bottom:5px; padding-top: 20px; border-bottom: 1px solid #d9d9d9;">
		<div class="span2">
			<%= link_to image_tag("navgraphics/energy.png"), catagory_path("Energy") %>
		</div> <!-- span2 -->

		<div class="span4">
				<div class="projects_title">Build a Morse Code Transmitter (ages 10+)</div>
				
				<div class="projects_description">In this project, you will build a simple circuit that can be used to send and receive messages with friends using Morse Code. <br><br> Project kits for this project are now available. Click <%= link_to ("here"), products_path  %> to go to our <%= link_to ("products"), products_path  %> page.  We'd be happy to help!  Or, if you just need help finding electronics parts that will work for you, we have a bundle of things you can order from Amazon <%= link_to ("here"), morseproj_path  %>.
				<br><br>There is also a project video available on Youtube <a href="https://youtu.be/QTvUXT1jOl4" target="_blank">here</a>. 
			
				</div> <!-- end projects description -->
		</div> <!-- span 4 -->
		
		<div class="span3">	
			<div class="energy_bkgd">
			<div class="projects_caption" >You Will Need:</div>
				<div class="projects_materials_needed">
					•	2 AA batteries<br>
					•	Battery holder<br>
					•	An LED<br>
					•	A resistor<br>
					•	Alligator clips (see project details)<br>
					•	Cardstock, paper, tape, and foil<br>
				</div> <!-- class matls needed -->
			</div> <!-- background -->
		</div> <!-- span 3 -->
		
		<div class="span3">						
				<div class="imageleftlarge" style="margin-left: 30px">
					<%= link_to image_tag("projects_images/proj_morse.png", :class=>'navbuttons'), "ProjectMorseCodeCircuit.pdf"  %> 
				</div>	<!-- class -->
		</div> <!-- span 3 -->
 	</div> <!-- row -->

	<div class ="row-fluid" style="padding-bottom:5px; padding-top: 20px; border-bottom: 1px solid #d9d9d9;">
		<div class="span2">
			<%= link_to image_tag("navgraphics/innovation_process.png"), catagory_path("Innovation") %>
		</div> <!-- span2 -->

		<div class="span4">
				<div class="projects_title">Group Activity: What Invention Am I? (ages 9+)</div>
				
				<div class="projects_description">This is a group activity that can be played with as few as 2 people and as many as you can manage in a room. Kids and grown-ups will each have an invention attached to their back, and they will have to ask questions to figure out what invention they have. Suggested questions are included. We visited a school to do this activity with some 4th and 5th graders and had a great time. <br><br> Want us to send you a ready-to-go kit? Send email to <a href="mailto:info@2025labs.com">info@2025labs.com</a>. We'd be happy to help!'</div> <!-- end projects description -->
		</div> <!-- span 4 -->
		
		<div class="span3">	
			<div class="engineering_process_bkgd">
			<div class="projects_caption" >You Will Need:</div>
				<div class="projects_materials_needed">
					•	Print-outs of the images in this activity<br>
					•	Print-outs of the question suggestion cards included in this activity packet<br>
					•	Tape or binder clips to attach each image to a player's back<br>
					•	Other people to play with!<br>
				</div> <!-- class matls needed -->
			</div> <!-- background -->
		</div> <!-- span 3 -->
		
		<div class="span3">						
				<div class="imageleftlarge" style="margin-left: 30px">
					<br>
					<%= link_to image_tag("projects_images/whatami_proj_image.png", :class=>'navbuttons'), "Activity_WhatInventionAmI_webver.pdf"  %> 
				</div>	<!-- class -->
		</div> <!-- span 3 -->
 	</div> <!-- row -->

	<div class ="row-fluid" style="padding-bottom:5px; padding-top: 20px; border-bottom: 1px solid #d9d9d9;">
		<div class="span2">
			<%= link_to image_tag("navgraphics/structures.png"), catagory_path("Structures") %>
		</div> <!-- span2 -->

		<div class="span4">
		
				<div class="projects_title">Use Materials to Build a Structure that can Withstand Earthquakes</div>
				
				<div class="projects_description">Engineers must design structures for what the earth might put it up against, including earthquakes. This project is to design an earthquake-proof structure by choosing good materials.</div> <!-- end projects description -->
		</div> <!-- span 4 -->
		
		<div class="span3">	
			<div class="structures_bkgd">
				<div class="projects_caption" >You Will Need:</div>
				<div class="projects_materials_needed">
					•	Gum drops<br>
					•	Toothpicks<br>
					•	Prepared Tray of Jell-O<br>
					<br>
				</div> <!-- class matls needed -->
			</div> <!-- background -->
			</div> <!-- span 3 -->
		
		<div class="span3">						
				<div class="imageleftlarge" style="margin-left: 30px">
					<%= link_to image_tag("projects_images/Proj_Structures_EarthquakeProofing.png", :class=>'navbuttons'), "Proj_Structures_EarthquakeProofing.pdf"  %> 
				</div>	<!-- class -->
		</div> <!-- span 3 -->
 	</div> <!-- row -->


	<div class ="row-fluid" style="padding-bottom:5px; padding-top: 20px; border-bottom: 1px solid #d9d9d9;">
		<div class="span2">
			<%= link_to image_tag("navgraphics/materials.png"), catagory_path("Materials") %>
		</div> <!-- span2 -->

		<div class="span4">
		
				<div class="projects_title">Bouncing Balls of Different Materials </div>
				
				<div class="projects_description">On a school playground, you might find many different kinds of balls, made from different materials. Different materials have different properties. In this project, you get to experiment with the “bouncy-ness” of balls made from different materials.</div> <!-- end projects description -->
		</div> <!-- span 4 -->
		
		<div class="span3">	
			<div class="materials_bkgd">
				<div class="projects_caption" >You Will Need:</div>
				<div class="projects_materials_needed">
					•	Bouncy Ball	<br>
					•	Tennis Ball	<br>
					•	Golf Ball	<br>
					•	Basketball	<br>
					•	Volleyball	<br>
					•	Yard Stick	<br>
					•	Masking Tape	<br>
					•	Concrete sidewalk or patio
					<br>
					<br>
				</div> <!-- class matls needed -->
			</div> <!-- background -->
		</div> <!-- span 3 -->
		
		<div class="span3">						
				<div class="imageleftlarge" style="margin-left: 30px">
					<%= link_to image_tag("projects_images/proj_materials.png", :class=>'navbuttons'), "proj_materials.pdf"  %>  
				</div>	<!-- class -->
		</div> <!-- span 3 -->
 	</div> <!-- row -->




	<div class ="row-fluid" style="padding-bottom:20px; padding-top: 20px; border-bottom: 1px solid #d9d9d9;">
		<div class="span2">
			<%= link_to image_tag("navgraphics/machines.png"), catagory_path("Machines") %>
		</div> <!-- span2 -->

		<div class="span4">
		
			<div class="projects_title">Different Machines to Power a Car </div>
				
				<div class="projects_description">This project is a corkboard toy car launcher. This project demonstrates the idea of stored energy. Energy is stored in the rubber band when you pull it back, and transferred to the car when you release it. You can also create a ramp to give the car lift.</div> <!-- end projects description -->
		</div> <!-- span 4 -->
		
		<div class="span3">	
			<div class="machines_bkgd">
				<div class="projects_caption" >You Will Need:</div>
				<div class="projects_materials_needed">
					•	12 inch x 12 inch Corkboard<br>
					•	2 Push Pins<br>
					•	1 Long rubber band<br>
					•	1 Paper clip<br>
					•	1 Toy car<br>
					•	Masking Tape<br>
					<br>
				</div> <!-- class matls needed -->
			</div> <!-- background -->
		</div> <!-- span 3 -->
		
		<div class="span3">						
				<div class="imageleftlarge" style="margin-left: 30px">
					<%= link_to image_tag("projects_images/proj_machines.png", :class=>'navbuttons'), "proj_machines.pdf"  %>  
				</div>	<!-- class -->
		</div> <!-- span 3 -->
 	</div> <!-- row -->




	
</div>	<!-- slidearea -->
	
