<div class="row-fluid">
	<div class="<%= @catagory.color%>_mainbkgd">
		
		<span class="catagoryandtopic" ><%= @catagory.headergraphic %></span>
		<%= link_to image_tag("navgraphics/quiz_icon.png", :class=>'navbuttons'), project_catagory_path  %>
		<%= link_to image_tag("navgraphics/activities_icon.png", :class=>'navbuttons'), "#"  %> 
		<%= link_to image_tag("navgraphics/video_icon.png", :class=>'navbuttons'), "#"  %> 


	</div>
</div>

PROJECT