<div class="logo_mainbkgd">
	<div class="catagoryandtopic" > puzzles 
		<%= link_to image_tag("navgraphics/news_icon.png", :class=>'navbuttons'), news_path  %>
	<%= link_to image_tag("navgraphics/project_icon.png", :class=>'navbuttons'), projects_path  %> 
	</div>
</div>


<div class = "slidearea">

	<div class ="row-fluid" style="padding-bottom:10px; border-bottom: 1px solid #d9d9d9;">
	<div class="projects_title">Hints for Logic Puzzles:</div>
	
	<div class="projects_description">First fill in the obvious answers. Use a checkmark to identify the right answers, and an X to identify answers that cannot be right. <br><br>For each checkmark, put an X in each of the other possibilities that turned out to be wrong. For example, in the women leaders puzzle, if you find out that a particular person has the Computer Science degree, then she doesn't have any of the other degree choices - put X's for each of those for her. And, no one else has that degree - so put X's for each other person for the Computer Science degree. By process of elimination, you will eventually discover all the right answers. You might need to make a few passes through the hints, though - keep trying!
	</div> <!-- end projects description -->
	</div>
	
	<div class ="row-fluid" style="padding-bottom:20px; padding-top:20px; border-bottom: 1px solid #d9d9d9;">
		<div class="span6">
			<div class="span4">
				<%= link_to image_tag("puzzles/womentechleaderspuzzle.png", :class=>'navbuttons'), "LogicPuzzle_WomenTechLeaders.pdf" %>
				
			</div> <!-- span4 -->

			<div class="span8">
				<div class="projects_title">Logic Puzzle: Women Technology Leaders</div>
				
				<div class="projects_description">Match each female technology leader with her company and role, and the college degree that helped her get there. Use the hints above to help you solve the puzzle. Keep working at it!
				</div> <!-- end projects description -->
			</div> <!-- span 8 -->
		</div> <!-- span 6 -->
		
	<div class="span6">
		<div class="span4">
			<%= link_to image_tag("puzzles/womeninventorspuzzle.png", :class=>'navbuttons'), "LogicPuzzle_WomenInventors.pdf" %>
		</div> <!-- span4 -->
		<div class="span8">
				<div class="projects_title">Logic Puzzle: Women Inventors</div>
				
				<div class="projects_description">Match each female inventor with her invention and the year of the invention. Use the hints above to help you solve the puzzle. Keep working at it!
				</div> <!-- end projects description -->
		</div> <!-- span 8 -->
	</div> <!-- span 6 -->
		
		
 	</div> <!-- row -->

	<div class ="row-fluid" style="padding-bottom:20px; padding-top:20px; border-bottom: 1px solid #d9d9d9;">
		<div class="span6">
			<div class="span4">
				<%= link_to image_tag("puzzles/Puzzle_materials.png", :class=>'navbuttons'), "Puzzle_materials.pdf" %>
				
			</div> <!-- span4 -->

			<div class="span8">
				<div class="projects_title">Logic Puzzle: Materials</div>
				
				<div class="projects_description">Use the hints to identify which material is which. Solve the puzzle to learn about materials inventions!
				</div> <!-- end projects description -->
			</div> <!-- span 8 -->
		</div> <!-- span 6 -->
		
	<div class="span6">
		<div class="span4">
			<%= link_to image_tag("puzzles/subcipher.png", :class=>'navbuttons'), "subcipher.pdf" %>
		</div> <!-- span4 -->
		<div class="span8">
			<div class="projects_title">Cipher: What did Einstein say?</div>
			
			<div class="projects_description">Use the substitution cipher legend (below the blue box) to discover a famous quote by renowned, Nobel-prize winning physicist Albert Einstein.
			</div> <!-- end projects description -->	
		</div> <!-- span 8 -->
	</div> <!-- span 6 -->
		
		
 	</div> <!-- row -->

	
</div>	<!-- slidearea -->
	
