
<div class="row-fluid">
	<div class="<%= @catagory.color%>_mainbkgd">
		<span class="catagoryandtopic" ><%= @catagory.headergraphic %></span>
		<%= link_to image_tag("navgraphics/news_icon.png", :class=>'navbuttons'), news_path  %> </span>
		<%= link_to image_tag("navgraphics/project_icon.png", :class=>'navbuttons'), projects_path  %> </span>
	</div>
</div>

<div class = "slidearea">
	<div class="row-fluid">	
		<div class="span10" style="padding-right:20px; border-right: 1px solid #d9d9d9;">	
		
			<div class="row-fluid">
				<div class="span3">	
						<%= @question.question %> <br>
						Thie is the question id <%= @question.id %>
						<% @answers.each do |answer| %>
							<% if @question.correct_answer == answer.number %>
								<%= link_to answer.answer, right_answer_catagory_path %> <br>
							<% else %>
								<%= link_to answer.answer, wrong_answer_catagory_path %> <br>
							<% end %>
						<% end %>
			
				</div>
			
				<div class="span9">
					
					
				
				</div>
			</div>
			
		</div>

	
		<div class="span2">
			<% @catagory.topics.each do |topic| %>
				<% if topic.available == "no" %>
					<%= image_tag(topic.navgraphic, :class => "navgraph")%>
				<% else %>
					<%= link_to image_tag(topic.navgraphic, :class => "navgraph"), topic_path(topic.name) %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>