<div class="row-fluid">
	<div class="span12">
		<%= link_to image_tag("kidstack65x65.png", :alt =>"kidstack logo", :class => "topnav"), root_path %>
		<%= image_tag("arrow.png", :alt => "arrow pointing right", :class => "topnav") %>
		<%= link_to image_tag(@catagory.headergraphic, :class => "topnav"), catagory_path(@catagory.name) %>
		<%= image_tag("standardnav/quiz.png", :class => "catnav") %>
		<%= image_tag("standardnav/read.png", :class => "catnav") %>
		<%= image_tag("standardnav/watch.png", :class => "catnav") %>			
		
	</div>
</div>

<div class="row-fluid">
		<div class="span7">
		</div>


	<div class="span5">
		
		<% @catagory.topics.each_with_index do |topic, index| %>
			
			<% if index%2 == 0 %>
				<div class="row-fluid">
			<%end%>
					<div class="span6">
						<%= link_to image_tag(topic.navgraphic, :class => "navgraph"), topic_path(topic.name) %>
						</div>
						<%if index%2==1 %>
							
					 	</div>
						<% end %>
			
		
		<% end %>
	</div>
</div> 
	<div class="row-fluid">
		<div class="span12">
		</div>
	</div>
</div>


