<div class="row-fluid">
	<div class="span12">
		<%= link_to image_tag("kidstack65x65.png", :alt =>"kidstack logo", :class => "topnav"), root_path %>
		<%= image_tag("arrow.png", :alt => "arrow pointing right", :class => "topnav") %>
		<%= link_to image_tag(@catagory.headergraphic, :class => "topnav"), catagory_path(@catagory.name) %>
					
		
	</div>
</div>

<div class="row-fluid">
	
	<div class="span7">		
		<%= image_tag("standardnav/quiz.png", :class => "catnav") %>
		<%= image_tag("standardnav/read.png", :class => "catnav") %>
		<%= image_tag("standardnav/watch.png", :class => "catnav") %>
		



		<div class="cycle-slideshow"
		       data-cycle-fx="fade"
               data-cycle-timeout=0
               data-cycle-prev="#prev"
               data-cycle-next="#next"
                >

 			

			<!-- empty element for overlay -->
           <div class="cycle-overlay"></div> 
		   


		   <img src="<%=asset_path('slideshow/steve1.jpg')%> " 
		        data-cycle-title="Happy" 
                data-cycle-desc="This is a test of the ermgerncy broadcast system. this is only a test.
                                  do not be alarmed. If this had been an actual emergency, you would have been instructed what to do, where to go and how to kiss your ass goodbye." >
                                      
		   <img src="<%=asset_path('slideshow/steve2.jpg')%> "
		        data-cycle-title="Happy" 
                data-cycle-desc="Happy happy joy happy." >
		   <img src="<%=asset_path('slideshow/steve3.jpg')%> ">
		            <!-- empty element for pager links -->
    		<div class="cycle-pager"></div>
	    </div>  

	   <!-- prev/next links -->
    <div class=center>
        <span id=prev>&lt;&lt;Prev </span>
        <span id=next> Next&gt;&gt;</span>
    </div>



    </div>

	<div class="span5">
		<% @topics.each_with_index do |topic, index| %>
			
			<% if index%2 == 0 %>
				<div class="row-fluid">
			<%end%>
					<div class="span6">
						<%= link_to image_tag(topic.navgraphic, :class => "navgraph"), topic_path(topic.name) %>
						</div>
						<%if index%2==1 %>
							
					 	</div>
						<% end %>
			
		
		<% end %>
	</div>
</div> 
	<div class="row-fluid">
		<div class="span12">
		</div>
	</div>
</div>


