<div class = "slidearea">
	
	<div class="row-fluid">
		<div class="span7">
			<%=image_tag(@slide.image)%></br>
		</div>
		<div class="span5">
			<span class="title"><span class= "<%= @catagory.color %>" ><%= @slide.title %></br></span></span>
			</br>
			<span class="desc"><%= @slide.desc.html_safe %></br></span>		
		</div>
	</div>
	
	<div class="row-fluid">
		<div class="span7">
			</br>
			<%= audio_tag(@slide.audio, :controls=>true) %>
		</div>
		
		<div class="span5">
			<div class="span1">
			</div>
			<div class="span5">
			<% unless @slide.prev.nil? %>
				</br>
				<% prevslide = @slide.prev %>
				<%= link_to image_tag("controls/previous.png"), slide_topic_path(:topic_id => @topic.id, :id => prevslide.id),  :remote => true %>
			<% end%>
			</div>
			<div class="span6">
			<% unless @slide.next.nil? %>
				</br>
				<% nextslide = @slide.next %>
				<%= link_to image_tag("controls/next.png"), slide_topic_path(:topic_id => @topic.id, :id => nextslide.id),  :remote => true %>
			<% end%>
			</div>
		</div>
	</div>
</div>





