<div class="<%= @catagory.color%>_mainbkgd">

	<a class="catagoryandtopic" <%= link_to @catagory.headergraphic, catagory_path(@catagory.name) %></a> <span class= "catagoryandtopic" >     > <%= @topic.name %> > quiz </span>

	<%= link_to image_tag("navgraphics/news_icon.png", :class=>'navbuttons'), news_path  %> </span>
	<%= link_to image_tag("navgraphics/project_icon.png", :class=>'navbuttons'), projects_path  %> </span>
	<% unless @topic.questions.first.nil? %>
		<%= link_to image_tag("navgraphics/quiz_icon.png", :class=>'navbuttons'), quiz_topic_path(:topic_id => @topic.id)  %> </span>
	<% end %>
</div>


<div class = "slidearea">
	<div class="row-fluid">	
		<div class="span10" style="padding-right:20px; border-right: 1px solid #d9d9d9;">

			<div class="row-fluid">	
				<div class="span1">

					<h1><div class="num_bkgd"><span class="question_num"><%= @question.question_num %></span></div><h1>
					
				</div>

				<div class="span11">
					<div class="row-fluid">	
						<div class="span6">

				 			<h4><div class="<%= @catagory.color %>_bkgd"><span class="question_txt"><%= @question.question_content %> </span></div></h4>
				 	
				 	

							<% @question.answers.each do |answer| %>

							<div class="row-fluid">
								<div class = "span2">

									<% if answer.correct %>
							
										 <%= link_to image_tag(answer.image), quiz_right_answer_topic_path(:id => @question.id, :topic_id => @topic.id, :answer_id => answer.id) %>

									<% else %>

										<% if answer.id == @answer.id %>

											<%= image_tag("answer_images/answer_wrong.png") %>

										<% else %>	


											<%= link_to image_tag(answer.image), quiz_wrong_answer_topic_path(:id => @question.id, :topic_id => @topic.id, :answer_id => answer.id)%>

										<% end %></h4>
									<% end %>
								</div>

								<div class = "span10">
									<h4><%= answer.answer_content %></h4>
									
								</div>
							</div>
							<% end %>
						</div>
						
						<div class="span6">
				 			<%= image_tag(@question.question_image) %>
				 		</div>

				 	</div>

				</div>
			</div>
		</div>

	
		<div class="span2">
			<%= render 'catagories/cat_topic_nav' %>
		</div>
	</div>
</div>