<div class="row-fluid">
	<div class="span2">
		<div class="row-fluid">
		<%= link_to image_tag("kidstack65x65alternate4.png", :alt =>"kidstack logo", :class => "topnav"), root_path %>
		</div>
		

		
		<% @topics.each do |topic| %>
			<div class="row-fluid">
		
				<div class="span9">
					<%= link_to image_tag(topic.navgraphic, :class => "navgraph"), topic_path(topic.name) %>
				</div>
				
				<div class="span3">
					<% if topic == @topic %>
						<%= image_tag("pointingfigure.png") %>
					<% end %>
				</div>
				
			</div>
		<% end %>
	</div>
	<div class="span10">
		<div class="row-fluid">
			<div class = "cattext">
				<h2>
					<a class="<%= @catagory.color %>" <%= link_to @catagory.headergraphic, catagory_path(@catagory.name) %></a>
				</h2>
   
			</div>
		</div>
		  

		
	<div class = "slidearea">
		<div class="row-fluid">	
			<%= render 'contentnav'%>
				<h3 class="<%= @catagory.color %>"><%= @topic.name %></h3>	
			awesome quiz stuff!
		</div>
		

	</div>
	</div>
		

		
	
		
	
</div>			
</div>




