<div class="row-fluid">
	<div class="span10">
		<div class="row-fluid">
		
		<%= link_to image_tag("kidstack65x65.png", :alt =>"kidstack logo", :class => "topnav"), root_path %>

		<div class="span1">
		<%= image_tag("arrow.png", :alt => "arrow pointing right", :class => "topnav") %>
		</div>
		<div class="span2">
		<%= link_to image_tag(@catagory.navgraphic, :class => "topnav"), catagory_path(@catagory.name) %>
		</div>
		<div class="span1">
		<%= image_tag("arrow.png", :alt => "arrow pointing right", :class => "topnav") %>
		</div>
		<div class="span2">
		<%= image_tag(@topic.navgraphic, :class => "topnav") %>
		</div>

		</div>

		<% slide = @topic.slides.first %>
		

		<div class="row-fluid">			

			<div id="show_slide">
				<div class="span8">
					<%=image_tag(slide.image)%></br>
					<% nextslide = slide.next %>
				</div>
				<div class="span4">
					<%= image_tag("standardnav/quiz.png", :class => "catnav") %>
					<%= image_tag("standardnav/projects.png", :class => "catnav") %>
					</br></br>
					<span class="title"><%= slide.title %></br></span>
					<span class="desc"><%= slide.desc %></br></span>
					<%= audio_tag(slide.audio, autoplay: true, controls: true) %>
					<%= link_to image_tag("arrow.png", :alt => "arrow pointing right"), slide_topic_path(:topic_id => @topic.id, :id => nextslide.id),  :remote => true %>
				</div>
			</div>
		</div>
	</div>
	
		
	<div class="span2">
		<div class="row-fluid">
			<div class="span2">

			</div>
			<div class="span10">
		<% @topics.each do |topic| %>
			<%= link_to image_tag(topic.navgraphic, :class => "navgraph"), topic_path(topic.name) %>
			
		<% end %>
		</div>
		</div>
	</div>
			
</div>




