<div class="row-fluid">
	<div class="span12">
		<%= link_to image_tag("kidstack65x65.png", :alt =>"kidstack logo", :class => "topnav"), root_path %>
		<%= image_tag("arrow.png", :alt => "arrow pointing right", :class => "topnav") %>
		<%= image_tag(@catagory.headergraphic, :class => "topnav") %>
		<%= image_tag("arrow.png", :alt => "arrow pointing right", :class => "topnav") %>
		<%= image_tag(@topic.headergraphic, :class => "topnav") %>
					
		
	</div>
</div>

<div class="row-fluid">
	
	<div class="span7">
		<%= image_tag("standardnav/quiz.png", :class => "catnav") %>
		<%= image_tag("standardnav/read.png", :class => "catnav") %>
		<%= image_tag("standardnav/watch.png", :class => "catnav") %>

		
		<div class="cycle-slideshow"
		       data-cycle-fx="fade"
               data-cycle-timeout=0
               data-cycle-prev="#prev"
               data-cycle-next="#next"
                >

 			

			<!-- empty element for overlay -->
           <div class="cycle-overlay"></div> 
		   

<!-- look through the slide data  -->
           <% @topic.slideshow.slides.each do |t| %>
           
             <img src=<%=asset_path(t.image)%>  
		        data-cycle-title=<%=t.title%> 
                data-cycle-desc="<%=t.desc%>" >

            <%end %>
		   
		            <!-- empty element for pager links -->
    		<div class="cycle-pager"></div>
	    </div>  

	   <!-- prev/next links -->
    <div class=center>
        <span id=prev>&lt;&lt;Prev </span>
        <span id=next> Next&gt;&gt;</span>
    </div>	
						
	</div>

	<div class="span5">
			<%= image_tag("standardnav/projects.png", :class => "topicnav") %>
			<%= image_tag("standardnav/interaction.png", :class => "topicnav") %>
			
	</div>
	
	<div class="row-fluid">
		<div class="span12">
		</div>
	</div>
</div>


