<div class="row-fluid">
	<div class="span9">
		
		<div class="row-fluid">
		
			<div class="row-fluid">
			<%= link_to image_tag("kidstack65x65alternate4.png", :alt =>"kidstack logo", :class => "topnav"), root_path %>

			<%= link_to image_tag("navgraphics/structurestext.png", :alt =>"structures", :class => "cattext"), catagory_path(@catagory.name) %>
			</div>
		
	
		</div>
		
		<div class="row-fluid">
			<div class="span12">
			</div>
		</div>

		<% slide = @topic.slides.first %>
		

		<div class="row-fluid">			

			<div id="show_slide">
				<%=  render( :partial => "slide", :locals => { :slide => @slide} ) %>
				</div>
			</div>

	</div>
	
		
	<div class="span3">
		<% @topics.each do |topic| %>
			<div class="row-fluid">
				<div class="span3">
					<% if topic == @topic %>
						<%= image_tag("pointingfigure.png") %>
					<% end %>
				</div>
				<div class="span9">
					<%= link_to image_tag(topic.navgraphic, :class => "navgraph"), topic_path(topic.name) %>
				</div>
			</div>
		<% end %>
	
		
	
</div>			
</div>




