<div class="row-fluid">	
	   	<%= link_to image_tag("kidstack_logo165x30.png", :alt =>"kidstack logo", :class => "topnav"), root_path %>
</div>

<div class="row-fluid">	
	<div class="span2NoGutter" >
		<%= link_to image_tag("navgraphics/engineering_process.png", :class => "top_nav"), catagory_path("Engineering Process") %>
	</div>
	<div class="span2NoGutter">
		<%= link_to image_tag("navgraphics/materialscomingsoon.png"), "#" %> 
	</div>
	<div class="span2NoGutter ">
		<%= link_to image_tag("navgraphics/structurescomingsoon.png"), "#" %> 
	</div>
	<div class="span2NoGutter ">
		<%= link_to image_tag("navgraphics/machinescomingsoon.png"), "#" %> 
	</div>
	<div class="span2NoGutter ">		
		<%= link_to image_tag("navgraphics/energycomingsoon.png"), "#" %>
	</div>
	<div class="span2NoGutter ">
		<%= link_to image_tag("navgraphics/computingcomingsoon.png"), "#" %> 
	</div>

</div>


<hr>
	