
<div class="row-fluid", style= "padding-top:10px; padding-bottom:10px;  border-bottom: 1px solid #d9d9d9;">	
		
		<div class="span2">
		   	<%= link_to image_tag("2025LabsKids_600.png"), root_path  %>
		</div>

		<div class="span10">
			<div class="span6NoGutter">

				<div class="span3">
					<%= image_tag("line_art.png")%> 
				</div>

				<div class="span3NoGutter">
	   				<%= link_to image_tag("navgraphics/engineering_process.png"), catagory_path("Engineering Process") %>
				</div>

				<div class="span3NoGutter">
					<%= link_to image_tag("navgraphics/materials.png"), catagory_path("Materials")  %> 
				</div>

				<div class="span3NoGutter">
					<%= link_to image_tag("navgraphics/structures.png"), catagory_path("Structures") %> 
				</div>
			</div>
			<div class="span6NoGutter">

				<div class="span3NoGutter">
					<%= link_to image_tag("navgraphics/machines.png"), catagory_path("Machines") %> 
				</div>
	
				<div class="span3NoGutter">
					<%= link_to image_tag("navgraphics/energy.png"), catagory_path("Energy") %>
				</div>
			
				<div class="span3NoGutter">
					<%= link_to image_tag("navgraphics/computing.png"), catagory_path("Computing") %> 
				</div>
	
				<div class="span3NoGutter">
					<%= link_to image_tag("navgraphics/instruments_and_data.png"), "#" %> 
				</div>	
						<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>		
			</div>

		</div>
</div>
	