<div class="row-fluid">	
		<div class="span8">
	   	<%= link_to image_tag("kidstack_logo300X50.png", :alt =>"kidstack logo", :class => "topnav"), root_path %>
		</div>
		<div class="span4" style="float:right;">
	     <%= image_tag "cornerart.png" %>
		</div>
</div>


<div class="row-fluid" style="padding-bottom:10px; border-bottom: 1px solid #d9d9d9;">
	
	<div class="span2NoGutter">
		<ul id="menu">
			<li><%= link_to image_tag("navgraphics/engineering_process.png"), catagory_path("Engineering Process") %>
			</li>
		</ul>
	</div>

	<div class="span2NoGutter">
		<ul id="menu">
		<%= link_to image_tag("navgraphics/materials.png"), catagory_path("Materials")  %> 
		</ul>
	</div>
	
	<div class="span2NoGutter ">
		<%= link_to image_tag("navgraphics/structures.png"), catagory_path("Structures") %> 
	</div>
	
	<div class="span2NoGutter ">
		<%= link_to image_tag("navgraphics/machines.png"), catagory_path("Machines") %> 
	</div>
	
	<div class="span2NoGutter ">		
		<%= link_to image_tag("navgraphics/energycomingsoon.png"), "#" %>
	</div>
	
	<div class="span2NoGutter ">
		<%= link_to image_tag("navgraphics/computing.png"), catagory_path("Computing") %> 
	</div>
	


</div>


<br>
	